template(name="cityBuildings")

  ul.main-city-list.list-unstyled.row

    each buildings

      li.col-xs-12.col-sm-6.col-md-4
        .main-city-item(class="{{#unless isPublished}}is-not-published{{/unless}}")
        
          if shouldShowRecommendToggle
            a.recommend-toggle(href="#", class="{{#if isRecommended}}active{{/if}}")
              i.fa.fa-star

          a.main-city-img-link(href="{{pathFor route='building' data=processedRouteData}}", title="Click to see {{processedTitle}}")
            .building-img-wrap.carousel.slide(id="carousel-{{_id}}" data-interval="false")
              .carousel-inner(role="listbox")
                each buildingImages
                  .item(class="{{mediaClass}}")
                    if isVideo
                      i.fa.fa-video-camera.fa-3x
                    img.building-img(src="{{getThumbnail store='thumbs'}}", itemprop="image", alt="{{processedTitle}}")

              a.left.carousel-control(href="#carousel-{{_id}}", role="button", data-slide="prev")
                i.fa.fa-fw.fa-chevron-left.building-img-icon(aria-hidden="true")
                span.sr-only Previous
              a.right.carousel-control(href="#carousel-{{_id}}", role="button", data-slide="next")
                i.fa.fa-fw.fa-chevron-right.building-img-icon(aria-hidden="true")
                span.sr-only Next

            span.main-city-price {{displayBuildingPrice ../queryBtype}}
          
          .main-city-item-wrap
            h2.main-city-item-title
              i.fa.m-r-10(class="{{#if agroIsUnit}}fa-bed{{else}}fa-building{{/if}}")
              a.main-city-item-link(href="{{pathFor route='building' data=processedRouteData}}", title="Click to see {{processedTitle}}") {{processedTitle}}

            if shouldShowRating
              .pull-right.m-t-5
                i.fa.fa-star
                span.average-rating {{processedRating}}

            .main-city-info.clearfix
              i.fa.fa-bed
              span.main-city-desc {{bedroomTypes ../queryBtype}}
