.main-city-list

  .main-city-item
    .main-city-img-link

      .action-options
        background rgba(0,0,0,.7)
        height 36px
        width 100%
        position absolute
        top -38px
        transition .35s all ease-out
        z-index 999

        .btn
          color white
          padding 8px
          width 49.3%
          &:not(:last-child)
            border-right 1px solid rgba(210,210,210,.4)

    &:hover
      @media screen and (min-width: 992px)
        .action-options
          top 0px

    .ext-gallery
      background #fff
      height 280px
      z-index 101
      @media screen and (min-width: 1200px)
        width 945px

      .item
        height auto !important
        margin 3px

        img
          display block
          width 100%
          height auto

    .tooltip
      position absolute
      left 19% !important
      top 45px !important
      width 61.9% !important
