template(name="cityBuildings")
  ul.main-city-list.list-unstyled.row
    each buildings
      li.col-lg-4.col-md-6.col-sm-6.col-xs-12
        .main-city-item(class="{{#unless isPublished}}is-not-published{{/unless}}")
          a.main-city-img-link(href="{{pathFor route='building' buildingSlug=slug}}", title="Click to see {{title}}")
            img(src="{{#if mainImage}}{{mainImage.url store='thumbs'}}{{else}}/images/placeholder.png{{/if}}")
          .main-city-item-wrap
            h2.main-city-item-title
              a.main-city-item-link(href="{{pathFor route='building' buildingSlug=slug}}", title="Click to see {{title}}") {{title}}
            //span.main-city-info-btn.fa.fa-question-circle.pull-right
            .main-city-info.clearfix
              i.fa(class="{{#if agroIsUnit}}fa-key{{else}}fa-building{{/if}}")
              span.main-city-price
                | {{displayBuildingPrice ../queryBtype}}
              span.main-city-desc
                | {{bedroomTypes ../queryBtype}}
