template(name="cityBuildings")
  ul.main-city-list.list-unstyled.row
    each buildings
      li.col-xs-12.col-sm-6.col-md-4
        .main-city-item(class="{{#unless isPublished}}is-not-published{{/unless}}")
        
          if shouldShowRecommendToggle
            a.recommend-toggle(href="#", class="{{#if isRecommended}}active{{/if}}")
              i.fa.fa-star

          a.main-city-img-link(href="{{pathFor route='building' data=processedRouteData}}", title="Click to see {{processedTitle}}")
            if mainImage
              .building-img-wrap.carousel.slide(id="carousel-{{_id}}" data-interval="false")
                .carousel-inner(role="listbox")
                  each buildingImages
                    .item(class="{{mediaClass}}")
                      if isVideo
                        i.fa.fa-video-camera.fa-3x
                      img.building-img(src="{{getThumbnail store='thumbs'}}")
                a.left.carousel-control(href="#carousel-{{_id}}", role="button", data-slide="prev")
                  i.fa.fa-fw.fa-chevron-left.building-img-icon(aria-hidden="true")
                  span.sr-only
                    | Previous
                a.right.carousel-control(href="#carousel-{{_id}}", role="button", data-slide="next")
                  i.fa.fa-fw.fa-chevron-right.building-img-icon(aria-hidden="true")
                  span.sr-only
                    | Next
            else
              .building-img-coming-soon.text-center
                img(src="/images/coming-soon.jpg", width="250")

          .brokerage-info
            if brokerageName
              span
                em Listing courtesy of #{brokerageName}

          
          .main-city-item-wrap
            h2.main-city-item-title
              a.main-city-item-link(href="{{pathFor route='building' data=processedRouteData}}", title="Click to see {{processedTitle}}") {{processedTitle}}
            //span.main-city-info-btn.fa.fa-question-circle.pull-right
            .main-city-info.clearfix
              i.fa(class="{{#if agroIsUnit}}fa-key{{else}}fa-building{{/if}}")
              span.main-city-price
                | {{displayBuildingPrice ../queryBtype}}
              span.main-city-desc
                | {{bedroomTypes ../queryBtype}}

  +idxDisclaimer