template(name="quickViewBuilding")
  if isParent
    td
      if hasChildren
        a.toggle-units(href="#")
          i.fa.fa-plus-square-o
    td
      if shouldShowRecommendToggle
        div.recommend-toggle-wrapper
          a.recommend-toggle(href="#", class="{{#if isRecommended}}active{{/if}}", data-isrecommended="{{#if isRecommended}}true{{else}}false{{/if}}")
            if isRecommended
              i.fa.fa-star
            else
              i.fa.fa-star-o
      div.title-wrapper
        a(href="{{pathFor route='building' data=processedRouteData}}") {{title}}
    td
  else
    td
    td
      if shouldShowRecommendToggle
        div.recommend-toggle-wrapper
          a.recommend-toggle(href="#", class="{{#if isRecommended}}active{{/if}}", data-isrecommended="{{#if isRecommended}}true{{else}}false{{/if}}")
            if isRecommended
              i.fa.fa-star
            else
              i.fa.fa-star-o
      div.title-wrapper
        a(href="{{pathFor route='building' data=processedRouteData}}") {{../title}}
    td {{title}}  
  td {{cityId}}
  td {{btype}}
  td {{bedroomTypes ../queryBtype}}
  td {{bathrooms}}
  td {{getSqft}}
  td {{securityValue}}
  td {{laundryValue}}
  td {{availableAtFormatted}}
  td {{displayBuildingPrice ../queryBtype}}