template(name="buildingParentIdEdit")
  if canHaveParentId
    .form-group.building-admin-edit
      span.building-admin-edit-text
        | Parent Building:
      span.building-parent-id-select-placeholder
