template(name="rentalApplication")
  #rental-application-wrapper.container
    .col-lg-12
      .row
        h1 Rental Application
        p After completing the form below, please click "Download PDF" to save a copy on your computer. Please email the completed PDF to info@therentscene.com with a copy of your Drivers License, Pay Stub, and Bank Statement. Thank you!

        form.form-horizontal
          h3 Rent Details
          .form-group
            label.control-label.col-sm-4 Which unit are you applying to
            .col-sm-8
              select.form-control
                option(value="123") Marques
          .form-group
            label.control-label.col-sm-4 Move in date
            .col-sm-2
              +datepicker(name="moveInDate")
          h3 Personal Information
          .form-group
            label.control-label.col-sm-4 Applicant's full name
            .col-sm-8
              input.form-control(type="text", name="fullName")
          .form-group
            label.control-label.col-sm-4 Date of birth
            .col-sm-2
              +datepicker(name="moveInDate")
          .form-group
            label.control-label.col-sm-4 Social security number
            .col-sm-8
              input.form-control(type="text", name="socialSecurityNumber")
          .form-group
            label.control-label.col-sm-4 Email
            .col-sm-8
              input.form-control(type="email", name="email")
          h3 Required documents
          p Drop required documents for the application below
          form(action="/file-upload").dropzone
            .dz-message Drop files here to upload (or click)
            table#files-list.table
              thead
                tr
                  th File name
                  th Type
                  th Size
                  th Uploaded on
                  th Actions
              tbody
                each documents
                  tr
                    td #{name}
                    td
                      select.form-control
                        option -- Select a document type --
                        option Bank Statement
                        option Drivers License
                        option Immigration Document
                        option Pay Stub
                        option Other
                    td #{size}
                    td #{updatedAt}
                    td
                      a(href="#")
                        i.fa.fa-trash

          h3 Signature
          p I hereby authorize The Rent Scene LLC to obtain and/or verify my credit report, criminal history, employment references and personal references in connection with the processing of this rental application. I also agree to the deposit disclaimer.

          #signature

          .form-group
            .col-sm-12
              button.btn.btn-success(type="submit") Submit and download PDF

          #dropzone-template-container
            tr.dz-preview.dz-file-preview
              td 1
              td(data-dz-name)
              td
                select.form-control
                  option -- Select a document type --
                  option Passport
              td(data-dz-size)
              td
                a(href="#")
                  i.fa.fa-trash
