#rental-application-wrapper

  .application-dates
    margin-top 25px
  .dropzone
    min-height 0
    border none
    padding 0
  .dropzone.dz-started .dz-message
    display block

  table
    td
      vertical-align middle
    a i
      cursor pointer

  .form-inline
    .form-group
      margin-right 15px
      margin-bottom 15px
    label
      margin-right 2px
    .input-xxlarge
      width 650px
    .input-xlarge
      width 400px
    .input-large
      width 250px
    .input-medium
      width 160px
    .input-small, .hasDatepicker
      width 110px
    .input-tiny
      width 80px
      
  .pets-wrapper
    display none
      
  select.document-type.other
    width 70px

  .document-type-other-wrapper
    display inline
    position relative
    input.document-type-other
      cursor auto
      padding-right 22px
    i
      display none
      position absolute
      right 5px
      top 3px
      z-index 999
      
  #signature
    border 5px solid #CCC
    margin-bottom 20px
    width 400px

  #dropzone-template-container
    display none
    
  #rental-application-show-revisions .modal-content
    width 500px