#rental-application-wrapper
  max-width 1000px
  h3
    color #4588fa
    @media screen and (min-width: 768px)
      margin 30px 0 12px
    @media screen and (min-width: 1200px)
      margin 40px 0 16px
  h4 small
    opacity .8
    &:hover
      opacity 1

  .application-dates
    margin-top 25px

  .pmcshell
    display none
    max-width 24%
    position fixed
    right 5%
    top 185px
    visibility hidden
    z-index 9
    @media screen and (min-width: 992px)
      display block
      visibility visible
    img
      width 100%
      height auto

  table
    td
      vertical-align middle
    a i
      cursor pointer

  .form-group
    margin-bottom 15px
    width 100%
    text-align right
    transition .4s all ease
    @media screen and (min-width: 992px)
      margin-bottom 20px
    label
      margin-bottom 0
      &:not(.align-top)
        margin-top 6px

    .input-group-addon
      padding 6px 8px
      &:last-child
        font-size 15px
        padding 6px
      .fa
        width 15px
        &.fa-mobile
          font-size 150%

    input#rentAmnt
      padding 1px
      text-align center
      + .input-group-addon
        font-size 15px

    input#social-security-number
      letter-spacing 1px
      padding 6px
      @media screen and (min-width: 1200px)
        letter-spacing 1.5px

    .form-control
      @media screen and (min-width: 768px)
        font-size 15px
        height 36px
      @media screen and (min-width: 1200px)
        font-size 16px
        height 38px
      &.hasDatepicker
        padding 5px

    label > small
      display block
      font-weight normal
      line-height 14px
      position relative
      top -1px

  .panel
    text-align left
    margin-top 10px
    .panel-heading
      @media screen and (min-width: 768px)
        padding 12px 16px
      button
        position absolute
        right 12px
        top 8px
        @media screen and (min-width: 768px)
          right 15px
          top 10px

    .criminal-history-input-wrapper
      padding 20px 0 10px
      @media screen and (min-width: 1200px)
        padding 25px 0 15px

  .section-spacer
    background rgba(0,10,20,.1)
    height 1px
    border-radius 3px
    margin 10px auto 30px
    @media screen and (min-width: 1200px)
      margin 20px auto 40px

  table.numbered tr > th:first-child,
  table.numbered tr > td:first-child
    text-align center

  .pet-box
    border 2px solid rgba(147,149,152,.8)
    border-radius 50%
    cursor pointer
    display inline-block
    height auto
    margin-right 1.25%
    overflow hidden
    position relative
    transition all .2s ease    
    width 23%
    @media screen and (min-width: 992px)
      border-width 3px
      &:active
        top 3px
    @media screen and (min-width: 1200px)
      width 21%
      margin-right 3%
    &:hover
      box-shadow 0 5px 16px -3px rgba(32,33,34,.5)
    &.selected
      border-color #4588fa
      box-shadow 0 5px 16px -3px rgba(32,33,34,.5)
    &:active
      top 2px
    
    &.selected:after
      content: "No Pets";
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      left: 0;
      bottom: -35px;
      width: 100%;
      text-align: center;
      text-transform: uppercase;

    &#dogBox
      background url(../../images/pets/dog_inactive.png) center center no-repeat
      background-size 80% !important
      &.selected
        background url(../../images/pets/dog.png) center center no-repeat
        &:after
          content: "Dogs";
    &#catBox
      background url(../../images/pets/cat_inactive.png) center center no-repeat
      background-size 80% !important
      &.selected
        background url(../../images/pets/cat.png) center center no-repeat
        &:after
          content: "Cats";
    &#otherBox
      background url(../../images/pets/other_inactive.png) center center no-repeat
      background-size 80% !important
      &.selected
        background url(../../images/pets/other.png) center center no-repeat
        &:after
          content: "Other";
    &#noPetsBox
      background url(../../images/pets/nopets_inactive.png) center center no-repeat
      background-size 80% !important
      &.selected
        background url(../../images/pets/nopets.png) center center no-repeat
        &:after
          content: "No Pets";

    img
      width 100%
      visibility hidden

  #cats-table-wrapper,
  #dogs-table-wrapper,
  #otherpet-wrapper
    display none
    position relative
    .btn.addPet
      position absolute
      right 0
      top 48px
      @media screen and (min-width: 1200px)
        top 60px
    table
      margin-top 15px
      margin-bottom 25px
      select
        padding 2px
        @media screen and (min-width: 768px)
          min-width 68px


  .criminal-history-input-wrapper
    .form-group .col-sm-1
      padding 0 5px
    select
      padding-left 5px
      padding-right 8px

  select.document-type.other
    display inline-block
    float left
    width 40%
    @media screen and (min-width: 992px)
      width 25%

  .document-type-other-wrapper
    display inline-block
    float right
    position relative
    width 58%
    @media screen and (min-width: 992px)
      width 72%
    input.document-type-other
      cursor auto
      padding-right 22px
    i
      display none
      font-size 18px
      position absolute
      right 8px
      top 8px
      z-index 9

  p.text-cond
    color #555
    font-size 13.5px
    line-height 1.5

  p.affirmation
    font-size 18px
    font-weight 600
    line-height 1.5
    margin 20px 0 30px
    max-width 700px
    a
      font-weight 600
    
  #signature
    border 5px solid #CCC
    margin-bottom 30px
    width 400px

  .dropzone
    min-height 0
    border none
    padding 0
    .dz-message
      font-size 16px
      font-weight bold
      color #4588fa
      &:hover, &:focus
        color #23527c
        text-decoration underline
    &.dz-started .dz-message
      display block

  #dropzone-template-container
    display none
    
  #rental-application-show-revisions .modal-content
    width 500px
    
#rental-application-access-wrapper
  height 422px