#rental-application-wrapper
  .application-dates
    margin-top 25px
  .dropzone
    min-height 0
    border none
    padding 0

  table
    td
      vertical-align middle
    a i
      cursor pointer
      
  #signature
    border 5px solid #CCC
    margin-bottom 20px
    width 400px

  #dropzone-template-container
    display none
    
  #rental-application-show-revisions .modal-content
    width 500px