template(name="city")
  +cityHeader

  +checkAvailability(building="none")

  div.p-relative

    unless clientRecommendationsList

      .collapse-toggle-wrap#forMap.is-out
        button.btn(type="button", data-toggle="tooltip", data-placement="auto", title="", data-original-title="Hide map")
          span Hide Map
          i.fa.fa-chevron-circle-right.m-l-5

      .city-side-bar.right-bar.clearfix.col-lg-3.hide-sm
        #gmap

    .city-page-wrap

      if canOperateWithBuilding
        .pull-left.hide-sm
          button.btn.btn-sm.btn-primary.button-building-insert
            i.fa.fa-plus
            | Add Listing

        .filter-wrap.unpublished-property-toggle-wrapper.hide-sm
          span Toggle Unpublished Properties:
          label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(title="Show unpublished properties")
            input.mdl-switch__input(id="show-unpublished-properties-toggle" type="checkbox")

      if hasAnyFilters
        .filter-options.pull-left.clearfix
          if hasNeighborhood
            span.filter-tag {{neighborhood}}

          if brTypeExist
            span.filter-tag {{brType}}

          if pets
            span.filter-tag Pets

          if parking
            span.filter-tag Parking

          if doorman
            span.filter-tag Doorman

          if fitnessCenter
            span.filter-tag Fitness Center

          if laundry
            span.filter-tag In-unit laundry

          if utilities
            span.filter-tag Utilities

          //-if available
          //-  span.filter-tag Available {{available}}

          //-if fromPrice
          //-  span.filter-tag From ${{fromPrice}}

          //-if toPrice
          //-  span.filter-tag To ${{toPrice}}


      #mobile-cta.clearfix
        h3 Too busy to search yourself?

        button.close-btn(type="button")
          i.fa.fa-times

        p.sub-head We'll do it for you - call or text now!

        a.btn.btn-lg.btn-block.btn-primary.m-t-15(href="tel://1-267-463-2428")
          i.fa.fa-fw.fa-mobile.m-r-5
          | (267) 463-2428

        if isBizHours
          p Guaranteed Response in 30 mins or less!
            span.show When calling between 8am-8pm EST


      .main-city-list-wrap.left-bar.clearfix.pull-left
        if showClientRecommendationsName
          h2.pull-left.m-0 Recommendations for {{currentClientName}}

        if clientRecommendationsList
          +clientRecommendationsToggle

        if firstLoad
          +loadingSpinner
        else
          +cityBuildings(buildings=buildings queryBtype=query.btype)

          if loadingBuildings
            +loadingSpinner
          else
            if notAllLoaded
              .load-more.loading-btn-wrap
                .loading-btn.btn.btn-primary.btn-lg
                  | Load More
