template(name="city")
  +cityHeader
  unless clientRecommendationsList
    .city-side-bar.right-bar.clearfix.col-lg-3
      #gmap

  .city-page-wrap.col-lg-9

    .main-city-list-wrap.left-bar.clearfix.pull-left
      if showClientRecommendationsName
        h2.pull-left(style="margin: 0")
          | Recommendations for {{currentClientName}}
      if canOperateWithBuilding
        button.btn.btn-primary.button-building-insert.pull-left
          i.fa.fa-plus
          | Add Listing

      .view-list-wrapper.dropdown.pull-left
        button.dropdown-toggle.btn.btn-default(type="button", data-toggle="dropdown")
          span.button-text.hide-md {{currentViewType}}
          span.caret
        ul.dropdown-menu.list-unstyled
          li.city-sub-header-item(data-value="thumbnails") Thumbnails
          li.city-sub-header-item(data-value="quickView") Quick view

      if clientRecommendationsList
        +clientRecommendationsToggle

      if firstLoad
        +loadingSpinner
      else
        if showThumbnails
          +cityBuildings(buildings=buildings queryBtype=query.btype)
        else
          +cityQuickView(buildings=buildings queryBtype=query.btype)

        if loadingBuildings
          +loadingSpinner
        else
          if notAllLoaded
            .load-more.loading-btn-wrap
              .loading-btn.btn.btn-primary.btn-lg
                | Load More
