template(name="city")
  .city-side-bar.right-bar.clearfix.col-lg-3
    #gmap

  .city-page-wrap.col-lg-9

    +cityHeader

    .main-city-list-wrap.left-bar.clearfix.pull-left
      if canOperateWithBuilding
        button.btn.btn-primary.button-building-insert
          i.fa.fa-plus
          | Add Building

      if firstLoad
        +loadingSpinner
      else
        +cityBuildings(buildings=buildings)

        if loadingBuildings
          +loadingSpinner
        else
          if notAllLoaded
            .load-more.loading-btn-wrap
              .loading-btn.btn.btn-primary.btn-lg
                | Load More
