#forMap
  display none
  position absolute
  top 0
  z-index 90
  transition all .4s ease
  @media screen and (min-width: 1200px)
    display block
    right 2.5%
  &.is-out
    top 10px

  .btn
    background #F2F2F2
    border-top 0
    border-radius 0 0 5px 5px
    box-shadow 0 4px 8px -3px rgba(0,0,0,.2)
    color #555
    font-size 11px
    font-weight 600
    height 28px
    line-height 26px
    padding 1px 8px
    width 94px
    text-transform uppercase
    i
      margin 0


.city-page-wrap
  background-color #fff
  padding 0
  transition all .5s ease
  width 100%
  @media screen and (max-width: 767px)
    padding-top 10px !important

  #forMap.is-out ~ &
    @media screen and (min-width: 1200px)
      width 75% !important

  .filter-options
    margin 5px auto -5px
    max-width 94%
    @media screen and (min-width: 768px)
      margin-top 18px
      margin-bottom 5px

    .filter-tag
      border 1px solid #ccc
      border-radius 20px
      background #f8f8f8
      color #888
      display inline-block
      font-size 12px
      font-weight 300
      margin 0 3px 5px
      padding 2px 15px
      @media screen and (min-width: 768px)
        padding 3px 20px
        margin 0 5px 6px


  #mobile-cta
    border 1px solid #e5e5e5
    border-radius 8px
    padding 5px 15px 15px
    text-align center
    margin 30px auto 20px
    max-width 94%
    position relative
    @media screen and (min-width: 600px)
      display none
      visibility none

    h3,h4,p
      margin-left -12px
      margin-right -12px
    h3
      font-size 21px
      line-height 1.4
      text-transform capitalize
      @media screen and (min-width: 350px)
        font-size 23px
    p
      font-size 17px
      font-weight 600
      margin-bottom 18px

    .btn
      border none
      letter-spacing .3px
      padding 12px
      margin 0 auto
      max-width 300px
      + p
        font-size 15px
        font-weight 400
        margin-top 20px
        margin-bottom 0
        font-style italic
        @media screen and (min-width: 350px)
          font-size 16px
        span
          color #666
          font-size 13.5px
          font-weight 300

    .close-btn
      background none
      border none
      color #d3d3d3
      font-size 16px
      outline none
      padding 0
      position absolute
      top -18px
      left -10px
      i
        background rgba(251,251,251,1)
        border 1px solid
        border-radius 50%
        height 36px
        width 36px
        margin 0
        padding 8px
      &:active i,&:focus i
        background #aaa


.left-bar
  overflow auto

.main-city-list-wrap
  background #fff
  height 100%
  width 100%
  padding 25px 10px 10px
  @media screen and (min-width: 768px)
    padding 28px 15px 0 15px
  @media screen and (min-width: 992px)
    padding 30px 25px 0 15px
  @media screen and (min-width: 1200px)
    padding 34px 30px 0
  box-sizing border-box

  .main-city-list
    clear both
    text-align center
    margin-left -10px
    margin-right -10px
    margin-bottom 0
    li
      display inline-block
      float none
      max-width 450px
      padding 0
      vertical-align top
      text-align left
      @media screen and (min-width: 768px)
        padding 0 10px

    .main-city-item
      margin 0 0 30px 0
      padding 0
      padding-bottom 0
      box-sizing border-box
      border 1px solid #eee
      border-radius 3px
      box-shadow 0 5px 12px -4px rgba(0,0,0,.25)
      @media screen and (min-width: 1200px)
        margin-bottom 25px !important

      .main-city-img-link
        position relative
        display block
        height 200px
        overflow hidden
        &:hover
          &:after
            opacity 1
        img
          width 100%

        .main-city-price
          color #fff
          padding 5px 0
          display block
          position absolute
          left 0
          bottom 4%
          background rgba(92,184,92,.85)
          width 41.1%
          text-align center
          text-shadow 0 1px 0 rgba(0,0,0,.35)
          box-shadow 1px 1px 10px -3px rgba(0,0,0,.25)
          border-radius 0 30px 30px 0
          font-family "Montserrat","Raleway","Open Sans", Helvetica,sans-serif
          font-size 17px
          transition all .35s ease
          max-height 35px
          z-index 999

        @media screen and (min-width: 768px)
          &:hover .main-city-price
            bottom 6.5%
            box-shadow 1px 3px 14px -1px rgba(0,0,0,.35)


      .main-city-item-wrap
        padding 5px 15px
        @media screen and (min-width: 768px)
          padding 5px 15px

        .main-city-info-btn
          color #4588fa
          padding 10px 0 0
          cursor pointer

        .main-city-item-title
          padding 0
          margin 10px 0
          float left
          height 18px
          overflow hidden
          font-size 16px

          .main-city-item-link
            font-family 'Montserrat', Helvetica, sans-serif
            font-size 16px
            color #272b30
            text-decoration none
            @media screen and (min-width: 768px)
              font-size 17px

        .fa-star
          color rgb(240,230,10)
          text-shadow 0 0 0 rgba(0,0,0,.5)

        .main-city-info
          clear both
          font-family 'Montserrat', Helvetica, sans-serif
          i
            font-size 16px
            padding 0 10px 0 0

          .main-city-desc
            border-left 1px solid #c7c7c7
            color #272b30
            padding 0 0 0 10px
            font-size 14px
            display inline-block
            position absolute

.city-side-bar
  height 100%
  padding 0
  float none
  transition all .5s ease
  @media screen and (min-width: 1200px)
    position absolute
    right 0
    width 0

  #forMap.is-out ~ &
    @media screen and (min-width: 1200px)
      width 24.9% !important

  #gmap
    height 100%

.loading-btn-wrap
  text-align center

.loading-btn
  display inline-block

.button-building-insert
  margin 5px 0 0 10px
  padding 4px 10px
  position relative
  top 4px
  @media screen and (min-width: 992px)
    margin-left 30px

.unpublished-property-toggle-wrapper
  float right
  position relative
  right 50px
  padding 10px 5px 0 0

  > span
    position relative
    top 3px
    margin-right 10px

  span
    font-size 13px
    &.mdl-switch__label
     left 15px 
  .mdl-switch.is-checked .mdl-switch__track
    background rgba(0,0,0, 0.26)
  .mdl-switch.is-checked .mdl-switch__thumb
    background-color #149bdf

  .mdl-switch
    width initial