template(name="city")
  +cityHeader
  .city-side-bar.right-bar.clearfix.col-lg-3
    #gmap

  .city-page-wrap.col-lg-9

    .main-city-list-wrap.left-bar.clearfix.pull-left
      if canOperateWithBuilding
        button.btn.btn-primary.button-building-insert
          i.fa.fa-plus
          | Add Building

      if firstLoad
        .city-spinner
          .rect1
          .rect2
          .rect3
          .rect4
          .rect5
      else
        +cityBuildings(buildings=buildings)

        if loadingBuildings
          .city-spinner
            .rect1
            .rect2
            .rect3
            .rect4
            .rect5
        else
          if notAllLoaded
            .load-more.loading-btn-wrap
              .loading-btn.btn.btn-primary.btn-lg
                | Load More
