.city-page-wrap
  background-color #fff
  padding 0

.left-bar
  overflow auto

.main-city-list-wrap
  background #fff
  height 100%
  width 100%
  padding 10px
  @media screen and (min-width: 768px)
    padding 15px 15px 0
  @media screen and (min-width: 992px)
    padding 18px 25px 0
  @media screen and (min-width: 1200px)
    padding 18px 30px 0
  box-sizing border-box

  .main-city-list
    clear both
    text-align center
    margin-bottom 0
    li
      max-width 450px
      display inline-block
      float none
      vertical-align top
      text-align left

    .main-city-item
      margin 0 0 2rem 0
      padding 0
      padding-bottom 0
      box-sizing border-box
      border 1px solid #eee
      border-radius 3px

      .main-city-img-link
        position relative
        display block
        height 200px
        overflow hidden
        &:hover
          &:after
            opacity 1
        img
          width 100%

        .main-city-price
          color #fff
          padding 5px 0
          display block
          left 0
          bottom 3%
          background rgba(62,122,225,.9)
          width 41.1%
          text-align center
          text-shadow 0 1px 0 rgba(0,0,0,.35)
          box-shadow 1px 1px 10px -3px (0,0,0,.25)
          border-radius 0 30px 30px 0
          font-family "Montserrat","Raleway","Open Sans", Helvetica,sans-serif
          font-size 17px
          transition all .35 ease
          max-height 35px

        @media screen and (min-width: 768px)
          &:hover .main-city-price
            bottom 5%
            box-shadow 1px 3px 14px -1px rgba(0,0,0,.35)


      .main-city-item-wrap
        padding 0 10px
        @media screen and (min-width: 768px)
          padding 5px 15px
        .main-city-info-btn
          color #4588fa
          padding 10px 0 0
          cursor pointer
        .main-city-item-title
          padding 0
          margin 10px 0
          float left
          height 18px
          overflow hidden
          font-size 16px
          .main-city-item-link
            font-family 'Montserrat', Helvetica, sans-serif
            font-size 16px
            color #272b30
            text-decoration none
            @media screen and (min-width: 768px)
              font-size 17px

        .main-city-info
          clear both
          font-family 'Montserrat', Helvetica, sans-serif
          height 36px
          font-size 14px
          overflow hidden
          i
            font-size 16px
            padding 0 10px 0 0

          .main-city-desc
            border-left 1px solid #c7c7c7
            color #272b30
            padding 0 0 0 10px
            font-size 14px
            display inline-block
            position absolute

.city-side-bar
  height 100%
  padding 0
  float none
  @media screen and (min-width: 1200px)
    float right
  #gmap
    height 100%

.loading-btn-wrap
  text-align center

.loading-btn
  display inline-block

.button-building-insert
  margin-bottom 18px
