.blank-layout
  .header-wrap
    h4
      color #CCC
      margin 0
      margin-top 6px
      margin-left 20px
.vimeo-container
  margin-top 80px
  #current-video
    height 290px
  .actions-wrapper
    a
      margin-bottom 5px
      width 138px
  .list-unstyled
    margin-bottom 0
  .video-thumbnail
    img
      width 87px
  .carousel-control
    width 15px
    .fa-chevron-left, .fa-chevron-right
      position absolute
      top 14px
    .fa-chevron-left
      left 2px
    .fa-chevron-right
      right 2px