template(name="vimeo")
  header.blank-layout
    .header-wrap
      h1.logo-wrap.pull-left
        a.hide-text(href="/")
          | Rentscene
          img.logo(src="/images/logo.png", alt="Rentscene")
      h4.pull-left
        | Picking video for {{title}}
  .container-fluid.vimeo-container
    .row
      .col-lg-9.col-md-9.col-xs-9
        #current-video
          with currentVideo
            iframe(src="//player.vimeo.com/video/{{vimeoId}}", width="502", height="283" frameborder="0", webkitallowfullscreen,mozallowfullscreen,allowfullscreen)
      .col-lg-3.col-xs-3.actions-wrapper
        a#confirm-video.btn.btn-success
          i.fa.fa-check 
            |  Confirm video
        a#import-videos.btn.btn-info
          i.fa.fa-download 
            |  Import videos
    .row              
      .col-lg-12.col-xs-12
        #thumbnail-slider.carousel.slide(data-ride="carousel")
          .carousel-inner
            each videos
              .item
                ul.list-unstyled.row
                  each this
                    li.col-lg-2.col.md-1.col-sm-2.col-xs-2
                      a.video-thumbnail(href="#")
                        img(src="{{thumbnail}}")
          a.left.carousel-control(href="#thumbnail-slider", role="button", data-slide="prev")
            span.fa.fa-chevron-left
            span.sr-only
              | Previous
          a.right.carousel-control(href="#thumbnail-slider", role="button", data-slide="next")
            span.fa.fa-chevron-right
            span.sr-only
              | Previous