.blank-layout
  .header-wrap
    h4
      color #CCC
      height 22px
      margin 0
      margin-top 6px
      margin-left 20px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      width 525px
#vimeo-popup
  .modal-dialog
    max-width 700px
    width 700px
.vimeo-container
  #current-video
    margin-bottom 5px
    margin-top 10px
    position relative
    iframe
      position relative
      z-index 2
    .fa-spinner
      position absolute
      top 40%
      left 45%
      z-index 1
  .actions-wrapper
    a
      margin-bottom 5px
      width 138px
  .list-unstyled
    margin-bottom 0
  .video-thumbnail
    img
      width 87px
  .carousel-control
    width 15px
    .fa-chevron-left, .fa-chevron-right
      position absolute
      top 14px
    .fa-chevron-left
      left 2px
    .fa-chevron-right
      right 2px
      
  .twitter-typeahead
    width 100%
    .tt-menu
      margin-top 10px
      margin-left 15px
      width 100%
      .tt-dataset
        margin-right 30px
    .tt-suggestion
      background #FFF
      border 1px solid #CCC
      border-bottom 0
      padding 10px
      &:last-child
        border-bottom 1px solid #CCC
        border-radius 0 0 10px 10px
      &.tt-cursor
        background #E5E5E5
        color #FFF
      &:hover
        background #E5E5E5
        color #FFF
        cursor pointer
      .duration-wrapper
        margin-right 20px
    .tt-highlight
      font-weight normal
    h4
      .tt-highlight
        color #000
    