template(name="vimeo")
  header.blank-layout
    .header-wrap
      h1.logo-wrap.pull-left
        a.hide-text(href="/")
          | Rentscene
          img.logo(src="/images/logo.png", alt="Rentscene")
      h4.pull-left
        | Picking video for {{title}}
  .container-fluid.vimeo-container
    .row
      .col-lg-12.col-md-12.col-xs-12
        input.form-control.input-lg.typeahead(type="text", placeholder="Search videos", autocomplete="false", data-highlight="true", data-source="videosSearch", data-selected="selectedVideo", data-template="vimeoResult")
        #current-video
          i.fa.fa-spinner.fa-spin.fa-5x
          with currentVideo
            iframe(src="//player.vimeo.com/video/{{vimeoId}}", width="670", height="378" frameborder="0", webkitallowfullscreen,mozallowfullscreen,allowfullscreen)
        a#confirm-video.btn.btn-success
          i.fa.fa-check 
            |  Confirm video
        a#import-videos.btn.btn-info
          i.fa.fa-download 
            |  Import videos


template(name="vimeoResult")
  div.row
    .col-xs-3
      img(src="{{thumbnail}}", style="width: 136px")
    .col-xs-9
      h4
        | {{value}}
      span.duration-wrapper
        i.fa.fa-clock-o
        |  {{duration}} minutes
      span.uploaded-at-wrapper
        i.fa.fa-calendar
        |  Uploaded at {{uploadedAt}}