#login-screen
  .dropdown-menu
    box-shadow none
    display block
    position relative
    height 260px
    margin 20px auto 30px
    float none
    text-transform capitalize
    z-index 0
    @media screen and (min-width: 992px)
      height 200px

  #login-dropdown-list
    display block

  a.dropdown-toggle
    display none