{
  "servers": [
    // {
    //   "host": "localhost",
    //   "username": "dalf",
    //   "pem": "~/.ssh/id_rsa_for_mup"
    // },
    {
      "host": "45.55.155.236",
      "username": "root",
      "password": "p4sswordform1rror",
      "env": {}
    }
  ],
  "setupMongo": false,
  "setupNode": false,
  "nodeVersion": "0.10.33",
  "setupPhantom": false,
  "appName": "rentscene",
  // "app": "/opt/rs-3",
  "app": "/home/jason/Documents/clients/rentscene",
  "env": {
    "PORT": 80
  },
  "deployCheckWaitTime": 60
}
