template(name="buildingMarker")
  #hook.cpr-property-container-map
    .cpr-property-map-image-container
      a.cpr-property-map-image-link(href="{{pathFor route='building' buildingSlug=slug}}")
        with mainImage
          .uk-overlay.cpr-overlay
            img.cpr-property-map-featured-image(src="{{url store='thumbsSmall'}}")
        h2.gradient_caption.cpr-property-map-bedrooms {{title}}
    .cpr-property-details-map
      i.fa(class="{{#if parentId}}fa-key{{else}}fa-building{{/if}}")
      span.text-success.cpr-property-map-price {{displayBuildingPrice}}
      span.cpr-property-map-title {{bedroomTypes}}

template(name="filterCityMarker")
  .row
    .col-lg-12
      h3
        | Commute Calculator
      p.filterComment
        | Enter your most common destination (work, school, etc) and we'll tell you how far it is from your new home.
  .row
    .col-md-12
      input#distanceFiler.form-control(placeholder="Destination Address" name="distanceFilter")
  .row.calculationArea
    .col-md-6
      .row
        .col-md-3.travelMode#walker-calc
          img(src="/images/walk-active.png")
        .col-md-3.travelMode#car-calc
          img(src="/images/car.png")
        .col-md-3.travelMode#bike-calc
          img(src="/images/bike.png")          
    .col-md-6
      .btn.btn-primary.btn-lg#calcDistance
        | Calculate
  .row.showCalculations
    .col-md-5
      h4 
        p#destinationDistance
    .col-md-7#destinationTimeArea

template(name="filterListingMarker")
  .row
    .col-lg-12
      p.filterComment
        | Enter your most common destination (work, school, etc) and we'll tell you how far it is from your new home.
  .row
    .col-md-12
      input#distanceFiler.form-control(placeholder="Destination Address" name="distanceFilter")
  .row.calculationArea
    .col-md-6
      .row
        .col-md-3.travelMode#walker-calc
          img(src="/images/walk-active.png")
        .col-md-3.travelMode#car-calc
          img(src="/images/car.png")
        .col-md-3.travelMode#bike-calc
          img(src="/images/bike.png")          
    .col-md-6
      .btn.btn-primary.btn-lg#calcDistance
        | Calculate
  .row.showCalculations
    .col-md-5
      h4 
        p#destinationDistance
    .col-md-7#destinationTimeArea
