.cpr-property-container-map
  padding 5px
  .cpr-property-map-image-link
    display inline-block
    .cpr-overlay
      max-width 180px
      .cpr-property-map-featured-image
        width 100%
    .cpr-property-map-bedrooms
      font-family 'Montserrat', Helvetica, sans-serif
      font-size 16px
      color #272b30

  .cpr-property-details-map
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 14px
    display inline-block
    vertical-align middle
    .cpr-property-map-price
      color #cc9900
      padding 0 10px 0 0
    .cpr-property-map-title
      border-left 1px solid #c7c7c7
      color #272b30
      padding 0 0 0 10px
