template(name="discovery")

  iframe#typeform-full(width="100%" height="100%" frameborder="0" src="https://cliff22.typeform.com/to/oouwCg?fname={{fname}}&amp;lname={{lname}}&amp;email={{email}}&amp;embed=full")
