template(name="cityHeaderSlider")
  with sliderData
    .city-subheader-price.pull-left
      span.city-subheader-price-val
        | Price
      b &#36;{{min}}
      input.price-slider.span2(type="text", data-slider-min="{{min}}", data-slider-max="{{max}}", data-slider-step="5", data-slider-value="[{{value.min}},{{value.max}}]", data-slider-tooltip_split="true")
      b &#36;{{max}}
