.neighborhood-header-wrap
  background rgba(0,0,0,0) no-repeat scroll center top
  background-size cover
  border-top 1px solid rgba(0,0,0,.1)
  background rgba(0,0,0,0) no-repeat scroll center top / 100% 100%
  width 100%
  min-height 200px
  position relative
  margin-bottom 3%
  @media screen and (min-width: 768px)
    min-height 300px
  @media screen and (min-width: 992px)
    min-height 360px
  @media screen and (min-width: 1200px)
    min-height 415px

.main-section-title
  background-color rgba(0,0,0,.5)
  color #fff
  text-shadow 0 2px 1px
  text-transform uppercase
  position absolute
  bottom 0
  left 5%
  letter-spacing .5px
  font-weight bold
  font-size 26px
  padding 18px
  text-shadow 1px 2px 0 rgba(0,0,0,.5)
  @media screen and (min-width: 768px)
    font-size 32px
    padding 22px
    text-shadow 1px 3px 1px rgba(0,0,0,.5)
  @media screen and (min-width: 992px)
    font-size 38px
    padding 25px
  

