template(name="neighborhoods")

  section.neighborhoods.clearfix
    .container-fluid.p-b-25

      .neighborhood-header-wrap(style="background-image:url('/images/neighborhoods/center-city.jpg')")
        h2.main-section-title Center City - East

      .col-xs-12.col-sm-offset-1.col-sm-10.m-b-30
        .row

          .col-sm-6
            h3
              | "One of America's finest urban spaces"

            p Rittenhouse Square is one of the five original open-space parks planned by William Penn and his surveyor Thomas Holme during the late 17th century in central Philadelphia. The park is widely considered one of the finest urban public spaces in the United States.
            p The square cuts off 19th Street at Walnut Street and also at a half block above Manning Street. Its boundaries are 18th Street to the East, Walnut St. to the north, Rittenhouse Square West, and Rittenhouse Square South, making the park approximately two short blocks on each side.
            p Originally called Southwest Square, Rittenhouse Square was renamed in 1825 after David Rittenhouse, a descendant of the first paper-maker in Philadelphia, the German immigrant William Rittenhouse. David Rittenhouse was a clockmaker and friend of the American Revolution, as well as a noted astronomer; a lunar crater is named after him.
            p In the early 19th century, as the city grew steadily from the Delaware to the Schuylkill Rivers, it became obvious that Rittenhouse Square would become a highly desirable address.
            p Today, the tree-filled park is surrounded by high rise residences, luxury apartments, an office tower, a few popular restaurants, a Barnes & Noble bookstore, a Barneys Co-Op, and two hotels, including a five-star. Its green grasses and dozens of benches are popular lunch-time destinations, while its lion and goat statues are popular gathering spots for small children and their parents. The park is a popular dog walking destination for area residents.

          .col-sm-6
            img.map-view(src="http://static.agorafy.com/assets/images/borough/manhattan/gramercy-park/map.png")