template(name="faq")
  .container
    .row
      .col-lg-12
        h1 FAQ's

    section
      .h4 Qeustion Why is Rent Scene free to tenants?
      p Most landlords pay us for bringing qualified tenants. For the stubborn landlords that refuse, we view it as an opportunity to prove our value on a future transaction.

    section
      .h4 Will working with Rent Scene increase my rent?
      p No, we secure you the best price available, and may even save you money after our negotiations with the landlord.

    section
      .h4 Does Rent Scene work with people renting remotely?
      p Yes, we’re your eyes on the ground. You can remotely tour actual units available for rent.

    section
      .h4 Qeustion 1
      p You’ll never go more than 12 hours without a response from Rent Scene. We are fully committed to making your apartment searching experience enjoyable.

    section
      .h4 What do you do with the ends of a loaf of bread?
      p Leave it for a friend, relative, or just put them in the fridge.
