template(name="faq")
  .container.faq-page-wrap
    .col-sm-11.col-md-9.col-lg-8
      .row
        .col-sm-12
          h1 FAQ's

      section
        h4 Why is Rent Scene free to tenants?
        p Most landlords pay us for bringing qualified tenants. For the stubborn landlords that refuse, we view it as an opportunity to prove our value on a future transaction.

      section
        h4 Will working with Rent Scene to find an apartment increase my rent?
        p No, we secure you the best price available, and may even save you money after our negotiations with the landlord.

      section
        h4 Does Rent Scene work with people renting remotely?
        p Yes, we're your eyes on the ground. You can remotely tour actual apartments available for rent.

      section
        h4 How quickly can you help me find an apartment?
        p You'll never go more than 12 hours without a response from Rent Scene. Our job is to streamline the process and do the "grunt work" so you don't have to. No matter how far out you begin your apartment search, we will speed up the process.  Of course, landlords must still approve tenants and process each applicant's paperwork, and each landlord or building manager can range quite a bit in responsiveness.  If you need an apartment immeidately, just
          a#need-immediate(href="mailto:team@rentscene.com", target="_blank") let us know
          span.nudge
          | .

      section
        h4 What should I do with the ends of a loaf of bread?
        p Leave it for a friend, relative, or just put them in the fridge.

      .contact-section
        p Don't see your question?
          small We'd love to answer it! &nbsp;Drop us a line
            i.fa.fa-arrow-right.m-l-5
        .btn-wrap
          a.btn.btn-lg.btn-primary#ask-quest(href="mailto:team@rentscene.com", target="_blank") Ask A Question
