.modal-dialog
  margin 2%
  max-width 560px
  @media screen and (min-width: 768px)
    margin 30px auto
  @media screen and (min-width: 1200px)
    margin-top 35px

  .contact-us-form
    padding 15px 15px 0
    @media screen and (min-width: 768px)
      padding 5% 6% 0
    @media screen and (min-width: 1200px)
      padding 5% 40px 0

    .modal-header
      border 0 none
      font-family 'Montserrat', Helvetica, sans-serif
      font-size 18px
      color #272b30
      box-sizing border-box
      padding 0 0 5px
      padding-top 0
        @media screen and (min-width: 768px)
          padding 0 0 10px
      .modal-title
        @media screen and (max-width: 768px)
          font-size 17px
          letter-spacing -0.5px
      .close i
        color #272b30
        @media screen and (min-width: 768px)
          position relative
          top -10px
          left 10px

    .modal-body
      box-sizing border-box
      padding 0

      .contact-us-field
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 12.5px
          @media screen and (max-width: 768px)
            font-size 14px
        color #272b30
        &#tour-question-wrapper
          .form-control-feedback
            display none !important
          @media screen and (max-width: 768px)
            label
              padding-right 0
        &.row
          margin-bottom 20px
          .form-group
            margin-bottom 0px

        .form-control
          &::-webkit-input-placeholder
            color #272b30

        .form-group
          .form-control
            color #272b30
            &::-webkit-input-placeholder
              color #272b30
          &#maxRent .form-control-feedback
            right 0

        .radio-inline
          margin-left -2px
          @media screen and (max-width: 768px)
            width 100%
          @media screen and (min-width: 768px)
            position relative
            top 2px
          .css-checkbox
            position absolute
            z-index -1000
            left -1000px
            overflow hidden
            clip rect(0 0 0 0)
            height 1px
            width 1px
            margin -1px
            padding 0
            border 0
            & ~ label
              &.css-label
                padding-left 25px
                @media screen and (max-width: 768px)
                  padding-left 20px
                height 15px
                display inline-block
                line-height 15px
                background-repeat no-repeat
                background-position 0 0
                @media screen and (max-width: 768px)
                  vertical-align middle
                  cursor pointer
            &:checked
              & ~ label
                &.css-label
                  background-position 0 -15px

          label
            &.css-label
              background-image url('/images/radiobutton.png') 
              -webkit-touch-callout none
              -webkit-user-select none
              -khtml-user-select none
              -moz-user-select none
              -ms-user-select none
              user-select none

      .input-group-addon .fa
        width 1.1em
        @media screen and (min-width: 768px)
          width 1.275em

    .modal-footer
      font-size 16px
      margin-top 15px
      margin-left -15px
      margin-right -15px
      text-align center
      @media screen and (min-width: 768px)
        margin-top 25px
        margin-left -6%
        margin-right -6%
      @media screen and (min-width: 1200px)
        margin-left -40px
        margin-right -40px

      .period
        margin-left -3px


#contactUsPopup #tour-question-wrapper label
  .generic
    display none
  .specific
    display inline

.home-page #contactUsPopup #tour-question-wrapper label
  .generic
    display inline
  .specific
    display none