template(name="contactUs")
  +messageSent
  #contactUsPopup.modal.fade(tabindex='-1', role='dialog', data-backdrop="static", aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        form.contact-us-form
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              i.fa.fa-times(aria-hidden='true')
            h4.modal-title
              i.fa.fa-street-view.text-primary.m-r-5
              | Searching Alone Sucks - Use A Local Expert

          .modal-body
            p.form-group
              | You should
              strong love
              | where you live. &nbsp;Take advantage of unbiased advice and put our team of experts to work. &nbsp;We'll schedule tours, deal with landlords, and stay with you until you love your next apartment.

            fieldset.row.form-group.contact-us-field
              label.col-sm-5.col-md-4 Name
              .col-sm-7.col-md-8
                input.form-control(name="name" placeholder="Name")

            fieldset.row.form-group.contact-us-field
              label.col-sm-5.col-md-4 Email Address
              .col-sm-7.col-md-8
                input.form-control(name="email" placeholder="Email address")

            fieldset.row.contact-us-field
              .col-xs-6
                .form-group
                  .input-group
                    .input-group-addon
                      i.fa.fa-bed
                    select.form-control(name="bedrooms")
                      option(value="") # of Bedrooms
                      option(value="studio") Studio
                      option(value="1") 1 Bedroom
                      option(value="2") 2 Bedroom
                      option(value="3") 3 Bedroom
                      option(value="4") 4 Bedroom

              .col-xs-6
                .form-group#maxRent
                  .input-group
                    .input-group-addon
                      i.fa.fa-usd
                    input.form-control(name="maxMonthlyRent" placeholder="Max monthly rent")

            fieldset.row.form-group.contact-us-field#tour-question-wrapper
              label.col-xs-5 I want to tour this unit in person.

              .col-xs-7
                span.radio-inline
                  input#inlineRadio1.css-checkbox(type='radio', name='tourOption', value='yes')
                  label.css-label(for="inlineRadio1")
                    | Yes
                span.radio-inline
                  input#inlineRadio2.css-checkbox(type='radio', name='tourOption', value='no')
                  label.css-label(for="inlineRadio2")
                    | No
                span.radio-inline
                  input#inlineRadio3.css-checkbox(type='radio', name='tourOption', value='notSure')
                  label.css-label(for="inlineRadio3")
                    | Not Sure

            fieldset.row.contact-us-field
              .form-group.col-xs-6
                +datepicker(id="contactUsTourDate" placeholder="Tour Date" class="tour-date" name="contactUsTourDate")
              .form-group.col-xs-6
                +datepicker(id="contactUsMoveInDate" placeholder="Move-In Date" class="move-in-data" name="contactUsMoveInDate")

            fieldset.form-group.contact-us-field.m-t-20
              textarea.form-control(name="question" placeholder="Question/Comments", rows="3")

          .modal-footer
            if serverError
              .form-group
                .alert.alert-danger(role="alert")
                  strong Sorry! Server error occured! We are already working hard to get it fixed ASAP! :-)
            button.btn.btn-primary.btn-lg.btn-block.submit-button(type="submit")
              | Let's Go
              .fa.fa-spin.fa-refresh.m-l-10.loading(style="display: none;")
              i.fa.fa-chevron-circle-right.m-l-10(aria-hidden='true')

