.modal-dialog
  max-width 500px
  .contact-us-form
    padding 15px
    @media screen and (min-width: 768px)
      padding 5%
    .modal-header
      border 0 none
      font-family 'Montserrat', Helvetica, sans-serif
      font-size 18px
      color #272b30
      box-sizing border-box
      padding 0 0 10px
      .close i
        color #272b30
        @media screen and (min-width: 768px)
          position relative
          top -10px
          left 10px

    .modal-body
      box-sizing border-box
      padding 0
      .contact-us-field
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 14px
        color #272b30
        &#tour-question-wrapper
          @media screen and (max-width: 768px)
            font-size 13px
            label padding-right 0
        &.row
          margin-bottom 20px
          .form-group
            margin-bottom 0px
        .form-control
          &::-webkit-input-placeholder
            color #272b30
        .form-group
          .form-control
            color #272b30
            &::-webkit-input-placeholder
              color #272b30
        .radio-inline
          margin-left -2px
          @media screen and (max-width: 768px)
            width 100%
          @media screen and (min-width: 768px)
            position relative
            top 2px
          .css-checkbox
            position absolute
            z-index -1000
            left -1000px
            overflow hidden
            clip rect(0 0 0 0)
            height 1px
            width 1px
            margin -1px
            padding 0
            border 0
            & + label
              &.css-label
                padding-left 25px
                @media screen and (max-width: 768px)
                  padding-left 20px
                height 15px
                display inline-block
                line-height 15px
                background-repeat no-repeat
                background-position 0 0
                font-size 14px
                vertical-align middle
                cursor pointer
            &:checked
              & + label
                &.css-label
                  background-position 0 -15px

          label
            &.css-label
              background-image url(http://csscheckbox.com/checkboxes/u/csscheckbox_d9b7f2885e3d68982a32bc3f2d9e48e2.png)
              -webkit-touch-callout none
              -webkit-user-select none
              -khtml-user-select none
              -moz-user-select none
              -ms-user-select none
              user-select none

    .modal-footer
      border 0 none
      padding 0
      .form-group
        .btn
          background-color #4588fa
