template(name="buildingImagesEdit")
  .container-fluid

    .row

      ul.list-unstyled.images-sortable-list.clearfix

        li.col-xs-6.col-sm-4.col-md-3
          .item.add-image-item.edit-item
            span.file-input.add-video-btn(aria-hidden='true')
              i.fa.fa-fw.fa-file-video-o
              b.p-5 Add Video

        li.col-xs-6.col-sm-4.col-md-3
          .item.add-image-item.edit-item
            .form-group.m-b-0
              span.file-input.add-image-btn(aria-hidden='true')
                i.fa.fa-fw.fa-file-image-o
                b.p-5 Add Images
                i.fa.fa-fw.fa-spin.fa-spinner.loading(style="display: none;")
                input.choose-image-input(type="file" multiple="true")

        each images
          li.col-xs-6.col-sm-4.col-md-3.images-sortable-item(data-id="{{_id}}")
            .item.edit-item
              #element1.thumbnail-image
                if isVideo
                  i.fa.fa-video-camera.fa-3x
                img.building-img.img-thumbnail(src="{{getThumbnail store='thumbs'}}")
                #element2.cover-image
                  button.remove-image( type='button', aria-label='Remove')
                    span.fa.fa-trash(aria-hidden='true')

  +vimeo