.content-wrapper
  height 100%
  .control-buttons
    margin-bottom 10px
    float right
  .breadcrumb
    padding 5px 0 5px 15px
    background #fff
    & > li
        &.active
          color #272b30
        & + li
          &:before
            padding 0 15px
            color #272b30
            content ">"
        a
          color #4588fa

  .building-sidebar
    height 100%
    padding 0
    float none
    @media screen and (min-width: 1200px)
      float right

  .building-page
    max-width 1280px
    margin 0
    clear both
    .reviewArea 
      .animated
        -webkit-transition height 0.2s
        -moz-transition height 0.2s
        transition height 0.2s
      .stars
        margin 20px 0
        font-size 24px
        color #d17581

    .building-main-info
      @media screen and (min-width: 1200px)
        float right
      padding 0 20px
      box-sizing border-box
      .building-main-info-title
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 26px
        font-weight bold
        margin 0 20px 20px 0
        padding 0
        color #272b30
        float left
        width 300px
        @media screen and (min-width: 1200px)
          width 100%
          float none
      .building-main-price-wrap
        clear both
        display table
        margin 20px 0
        border 1px solid #999
        border-radius 3px
        padding 0
        box-sizing border-box
        .building-main-price-opt
          font-family 'Montserrat', Helvetica, sans-serif
          font-size 16px
          font-weight bold
          text-align right
          border-bottom 1px solid #999
          padding 15px
          &:last-child
            border 0 none
        .building-main-price
          color #cc9900
          padding 0 20px 0 0
          display inline-block
          vertical-align middle
          text-align right
          input
            width 50px
        .building-main-rooms
          border-left 1px solid #c7c7c7
          padding 0 0 0 20px
          display inline-block
          min-width 118px
          vertical-align middle
          text-align left
      .building-main-prop-list
        font-size 0
        .building-main-prop
          color #272b30
          font-size 16px
          margin 10px 0
          float none
          display inline-block
          vertical-align top
          .building-main-prop-text
            padding 0 5px

          .label-radio
            margin-left 5px
            font-weight normal
            font-size 14px
          .input-comment
            width 300px
          .input-from-to
            width 60px
            text-align right
            display inline-block
      .building-main-info-btn
        @media screen and (min-width: 1200px)
          width 300px
        font-weight bold

.building-main-info-desc-wrap
  .building-main-info-desc
    padding 25px 0 0
    font-size 16px
    margin 0

    textarea
      width 100%
      height 250px

  .building-main-info-desc-more
    display none
    &:checked
      & ~ .building-main-info-desc
        .building-desc-more-target
          opacity 1
          font-size inherit
          max-height 999em
      & ~ .building-main-more-trigger
        &:before
          content 'less'
          color #4588fa
          font-family 'Montserrat', Helvetica, sans-serif
          font-size 14px
          cursor pointer
    & ~ .building-main-more-trigger
      &:before
        content 'more'
        color #4588fa
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 14px
        cursor pointer

  .building-desc-more-target
    opacity 0
    max-height 0
    font-size 0
    transition .25s ease

  .building-share-list
    margin 20px 0
    .building-share
      padding 0 10px 0 0
      .building-share-icon
        display inline-block
        border-radius 50%
        color #fff
        &.fa-facebook
          background-color #3b5b9d
          padding 5px 8px
        &.fa-twitter
          background-color #2aa9e2
          padding 5px 6px
        &.fa-paper-plane
          background-color #339900
          padding 5px
        &.fa-plus
          background-color #666
          padding 5px 7px
        &:hover
          text-decoration none
          opacity 0.7

.building-info-wrap
  @media screen and (min-width: 1200px)
    float left
  select
    padding 3px 10px

  .building-admin-edit
    display block
    margin-bottom 10px
    .building-admin-edit-text
      width 120px
      display block
    .building-admin-edit-check
      display inline-block

  .building-img-wrap
    height 500px
    max-width 800px
    .item
      height 500px
      visibility hidden
    a.recommend-toggle
      color #FFF
      font-size 25px
      position absolute
      right 10px
      top 5px
      z-index 999
      &:hover
        color #FDF8B5
      &.active
        color #FFEC00
    .building-img
      margin 0 auto
      max-height 500px
    .carousel-control
      height 100%
      width 9%
      .building-img-icon
        position absolute
        top 50%
        z-index 5
        display inline-block
        font-size 30px
    .right
      .building-img-icon
        right 0

    .left
      .building-img-icon
        left 0

  .building-info-title
    background-color #ebebeb
    padding 10px 20px
    margin-bottom 15px
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 12px
    font-weight bold
    .fa
      padding 0 10px 0 0

  .building-unit-item
    border 1px solid #999
    border-radius 3px
    padding 1rem
    margin 0 0 15px
    a.recommend-toggle
      color #FFF
      font-size 18px
      position absolute
      right 20px
      top 2px
      z-index 999
      &:hover
        color #FDF8B5
      &.active
        color #FFEC00
    img
      padding 0 15px 0 0
      max-width 90px
      max-height 90px
    .building-unit-info
      overflow hidden
      .building-unit-info-title
        font-family 'Montserrat', Helvetica, sans-serif
        display inline-block
        margin 0
        padding 0 0 5px
        a
          font-size 14px
          color #272b30
      .building-unit-info-price
        font-family 'Montserrat', Helvetica, sans-serif
        margin 0 0 5px
        i
          padding 0 10px 0 0
          font-size 12px
        .unit-price
          font-size 14px
          color #cc9900
          padding 0 10px 0 0
          display inline-block
          vertical-align middle
          border-right 1px solid #c7c7c7
        .unit-type
          font-size 12px
          color #272b30
          padding 0 0 0 10px
          display inline-block
          vertical-align middle
    .building-unit-btn-wrap
      margin 5px 0 0
      .building-unit-btn
        color #4588fa
        font-size 1rem
        font-weight bold

    .building-unit-prop-list
      clear both
      padding 5px 0 0
      .building-unit-prop
        display inline-block
        padding 0 10px 0 0
        line-height 30px
        font-size 12px

  .building-features
    font-size 16px
    color #272b30
    padding-bottom 20px
    float none
    display inline-block
    vertical-align top
    i
      float left
    .building-features-text
      display block
      overflow hidden

  .building-review
    border 1px solid #999
    border-radius 3px
    padding 1rem
    margin 0 0 1rem

    .building-reviewer
      .building-reviewer-name
        font-size 13px
        font-family 'Montserrat', Helvetica, sans-serif
        display block
      time
        font-size 12px

    .rating-box
      font-family 'Montserrat', Helvetica, sans-serif
      font-size 20px
      color #272b30
      i
        color #cc9900

    .building-reviewer-title
      clear both
      font-family 'Montserrat', Helvetica, sans-serif
      font-size 18px
      font-weight bold
      color #272b30
      padding 10px 0 0

    .building-reviewer-desc
      font-size 16px

    .building-review-more
      display none
      &:checked
        & ~ .building-review-target
          font-size inherit
          max-height 999em
          display block
          opacity 1
        & ~ .building-review-trigger
          &:before
            content 'View less'
            color #4588fa
            font-family 'Montserrat', Helvetica, sans-serif
            font-size 14px
            cursor pointer
      & ~ .building-review-trigger
        &:before
          content 'View more'
          color #4588fa
          font-family 'Montserrat', Helvetica, sans-serif
          font-size 14px
          cursor pointer

    .building-review-target
      max-height 0
      font-size 0
      display none
      opacity 0
      transition .25s ease

    .building-review-list
      margin 15px 0
      padding 0
      .building-review-item
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 14px
        margin-bottom 10px
        .building-review-field
          display inline-block
        .building-review-rate
          font-size 16px
          color #272b30
          float right
        .building-review-bar
          background-color #ebebeb
          padding 0
          clear both
          .building-review-rate-5
            width 100%
          .building-review-rate-4
            width 80%
          .building-review-rate-3
            width 60%
          .building-review-rate-2
            width 40%
          .building-review-rate-1
            width 20%
          .building-review-rating
            .building-review-bar-animate
              animation progress 2s linear
              -moz-animation progress 2s linear
              -webkit-animation progress 2s linear
              -ms-animation progress 2s linear
              -o-animation progress 2s linear
              background-color #cc9900
              display block
              height 5px
.blue-icon
  color #4588fa
.grey-icon
  color dimgrey

.add-image-btn,.add-video-btn
  position: relative;
  overflow: hidden;
  background-color #fff
  border 1px solid #ddd
  text-align center
  width 140px
  height 110px
  font-size 20px
  color #272b30
  display block
  border-radius 4px
  margin-top 10px
  cursor pointer
  box-sizing border-box
  b
    padding 20px 20px 0
    display inline-block

.add-image-btn input[type=file]
  position absolute
  top 0
  left 0
  width 140px
  height 110px
  text-align right
  opacity 0
  cursor pointer
  display block

.cover-image
  visibility hidden

.item:hover .cover-image
  opacity 1
  visibility visible


.thumbnail-image
  position relative
  margin-top 10px
  .fa-video-camera
    color #FFF
    position absolute
    right 70px
    top 35px

.img-thumbnail
  width 140px
  height 110px
  max-width 140px
  
.cover-image
  position absolute
  top 0
  right 0

.images-sortable-placeholder
  height 120px


button.remove-image
  /*position absolute*/
  background lightgray
  -webkit-appearance none
  border 0
  border-radius: 4px;

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
footer
  clear both
  padding 0 15px
  .building-page-similar-item
    padding-left 0
    .building-page-similar-link
      display inline-block
      &:hover
        text-decoration none
      .building-page-similar-img
        max-width 250px
      .building-page-similar-info
        font-family 'Montserrat', Helvetica, sans-serif
        padding 10px 0
        .building-page-similar-price
          font-size 18px
          color #cc9900
          padding 0 0 0 10px
          display inline-block
          vertical-align middle

        .building-page-similar-desc
          padding 0 10px 0 0
          font-size 16px
          color #272b30
          font-weight bold
          display inline-block
          vertical-align middle

.building-admin-info
  padding 0 0 10px
  .building-admin-info-text
    font-weight bold
    padding 0 5px 0 0
    display inline-block
    .building-admin-info-data
      display inline-block

.label-radio
  padding 0 5px 0 0

#reviweArea 
  margin-top: 100px

.reviews
  h4
    font-weight bold !important
    font-family "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif

.highlight
  background-color #f7f7f9
  border 1px solid #e1e1e8
.space 
  margin-top 10px
h4 
  font-weight bold

.similar-title
  background-color #ebebeb
  padding 10px 20px
  font-family "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif

.similar-properties
  .main-city-item-link
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 16px
    color #272b30
    text-decoration none  
  .main-city-item-wrap
    padding 15px 0
    p
      font-weight bold
    .similar-property-price
      color #cc9900
      padding 0 10px 0 0
      display inline-block
      vertical-align middle
      font-size 14px
.reviews
  border 1px solid #c7c7c7
  margin 10px
  width: 46%
  height: 250px
  .col-md-7
    .col-md-12 
      margin-top 8px
      h4
        margin-bottom 4px

.showRatingText
  margin-top 8px
.popover-title
  font-size: 18px !important
.calcPop
  position: absolute
  bottom: 10px
  cursor: pointer