main.container
  padding 0 20px
  @media screen and (min-width: 768px)
    padding 0 5px
  @media screen and (min-width: 800px)
    width 95%
  @media screen and (min-width: 850px)
    width 94%
  @media screen and (min-width: 900px)
    max-width 860px
  @media screen and (min-width: 992px)
    width 97%
    max-width 980px
  @media screen and (min-width: 1200px)
    max-width 1180px

.breadcrumb
  padding 5px 0 0 0
  background #fff
  margin 1px 0
  @media screen and (min-width: 768px)
    margin 15px 20px
    padding 7px 15px
    border 1px solid rgba(188,190,192,.4)
  @media screen and (min-width: 1200px)
    margin-top 20px
    padding 9px 15px
    font-size 16px
  & > li
    @media screen and (max-width: 600px)
      font-size 13.5px
      letter-spacing -.3px
    &:first-child,&:first-child + li:before,&:last-child
      @media screen and (max-width: 767px)
        display none
        visibility hidden
    &.active
      color #272b30
      font-weight bold
    & + li
      &:before
        font normal normal normal 14px/1 FontAwesome
        color #6C6E70
        content "\f105"
        padding 0 5px
        @media screen and (min-width: 768px)
          padding 0 15px
    a
      color #4588fa

.building-page-wrap
  padding 0
  @media screen and (min-width: 992px)
    padding 10 0

.control-buttons
  @media screen and (min-width: 600px)
    position absolute
    top -55px
    right 30px

.content-wrapper
  height 100%


  .building-page
    max-width 1280px
    margin 0 -15px
    @media screen and (min-width: 600px)
      margin 0
    clear both

    .building-main-info
      box-sizing border-box
      margin-bottom 20px
      @media screen and (min-width: 992px)
        float right

      .fg-float.buildingTitle .fg-toggled + .fg-label
        top -18px
        font-size 12.5px

      .building-main-info-title
        color #272b30
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 24px
        font-weight bold
        float left
        line-height 1.2
        margin 0 20px 5px 0
        padding 0 2.5% 0 0
        &.trunc
          max-width 86%
        @media screen and (min-width: 1200px)
          font-size 28px
          width 100%
          float none
          padding 0

      .avgRating
        background-color #5cb85c
        background-image linear-gradient(to bottom, #5cb85c 0%, #419641 100%)
        border-radius 4px
        color #fff
        font-size 14px
        line-height 24px
        padding 1px 5px
        position absolute
        top 0
        right 10px
        @media screen and (min-width: 992px)
          font-size 15px
          line-height 28px
          padding 1px 7px
          right 15px
        i
          color #f0e60a
          text-shadow 0 0 0 rgba(0,0,0,0.5)

      .rating-pie-wrap
        position absolute
        right 0
        top 0        

      .building-main-info-address
        margin 0
        padding 0
        overflow hidden
        white-space nowrap
        text-overflow ellipsis

      .building-main-price-wrap
        clear both
        display table
        margin 15px 0
        border 1px solid #999
        border-radius 4px
        padding 0
        box-sizing border-box
        @media screen and (min-width: 1200px)
          clear both

        .building-main-price-opt
          font-family 'Montserrat', Helvetica, sans-serif
          font-size 15px
          font-weight bold
          text-align right
          border-bottom 1px solid #999
          padding 9px
          @media screen and (min-width: 1200px)
            font-size 16px
            padding 10px 20px
          &:last-child
            border 0 none

        .building-main-price
          color #cc9900
          padding 0 10px 0 0
          @media screen and (min-width: 768px)
            padding 0 20px 0 0
          display inline-block
          vertical-align middle
          text-align right
          input
            width 50px

        .building-main-rooms
          border-left 1px solid #c7c7c7
          padding 0 0 0 10px
          @media screen and (min-width: 768px)
            padding 0 0 0 20px
          display inline-block
          min-width 118px
          vertical-align middle
          text-align left
          text-transform capitalize

      .form-group
        margin-bottom 15px

      .radio
        + .radio, .checkbox + .checkbox
          margin-top -8px
        + label
          color #777
          display block
          font-weight normal
          margin-top -5px

      .control-label
        padding-left 0

      .building-main-prop-list
        padding 0
        @media screen and (min-width: 768px) and (max-width: 991px)
          padding 10px 0 10px 10px

        .building-main-prop
          color #272b30
          font-size 14.5px
          margin 4px 0
          display inline-block
          vertical-align top
          padding-right 0
          padding-left 0
          width 50%
          @media screen and (min-width: 768px)
            font-size 16px
            text-indent -12px
            padding-left 7%

          .building-main-prop-text
            @media screen and (min-width: 768px)
              padding 0 5px
            @media screen and (min-width: 992px)
              margin-right 5px

          .fa-question-circle
            display none
            font-size 14px
            margin-left 4px
            @media screen and (min-width: 350px)
              display inline-block
            @media screen and (min-width: 768px)
              margin-left 6px

          .label-radio
            margin-left 5px
            font-weight normal
            font-size 14px
          .input-comment
            width 300px
          .input-from-to
            width 60px
            text-align right
            display inline-block

      .btn.check-availability .fa
        font-size 15px
        position relative
        top -1px

      .units-section
        @media screen and (max-width: 991px)
          display none
          visibility hidden

    .walk-score-wrap *
      cursor default

    .form-group
      margin-bottom 20px
      @media screen and (min-width: 768px)
        margin-bottom 22px
      @media screen and (min-width: 992px)
        margin-bottom 25px
      &.fg-float
        margin-left 0


.building-main-info-desc-wrap
  .building-main-info-desc
    color #111
    background-color #F4F4F8
    border-radius 5px
    border-top 4px solid #4588fa
    font-size 15px
    margin 25px 0 15px 
    padding 15px 5% 10px
    @media screen and (min-width: 992px)
      font-size 16px
      margin-top 30px

    p
      line-height 1.6
      @media screen and (min-width: 992px)
        font-size 15px
        line-height 1.5
      @media screen and (min-width: 1200px)
        font-size 16px

    textarea
      width 100%
      height 250px

    .addthis_sharing_toolbox
      text-align center
      .at-share-tbx-element a.at-share-btn
        margin 0 4%

  .building-main-info-desc-more
    display none
    &:checked
      & ~ .building-main-info-desc
        .building-desc-more-target
          opacity 1
          font-size inherit
          max-height 999em
      & ~ .building-main-more-trigger
        &:before
          content 'less'
          color #4588fa
          font-family 'Montserrat', Helvetica, sans-serif
          font-size 14px
          cursor pointer
    & ~ .building-main-more-trigger
      &:before
        content 'more'
        color #4588fa
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 14px
        cursor pointer

  .building-desc-more-target
    opacity 0
    max-height 0
    font-size 0
    transition .25s ease

  .building-share-list
    margin 20px 0
    .building-share
      padding 0 10px 0 0
      .building-share-icon
        display inline-block
        border-radius 50%
        color #fff
        &.fa-facebook
          background-color #3b5b9d
          padding 5px 8px
        &.fa-twitter
          background-color #2aa9e2
          padding 5px 6px
        &.fa-paper-plane
          background-color #339900
          padding 5px
        &.fa-plus
          background-color #666
          padding 5px 7px
        &:hover
          text-decoration none
          opacity 0.7

.building-info-wrap
  padding 0 5px
  @media screen and (min-width: 360px)
    padding 0 10px
  @media screen and (min-width: 600px)
    padding 0 15px
  @media screen and (min-width: 1200px)
    float left
  select
    padding 3px 10px

  .building-admin-edit
    display block
    margin-bottom 10px
    .building-admin-edit-text
      font-size 13px
      margin-bottom 4px
      display block
    .building-admin-edit-check
      display inline-block

  .building-img-wrap
    height 300px
    margin-bottom 5px
    @media screen and (min-width: 370px)
      height 320px
    @media screen and (min-width: 568px)
      height 260px
    @media screen and (min-width: 666px)
      height 305px
    @media screen and (min-width: 768px)
      height 350px
      margin-bottom 15px
    @media screen and (min-width: 992px)
      height 370px
      max-width 700px
    @media screen and (min-width: 1200px)
      height 400px
    @media screen and (min-width: 1300px)
      height 420px

    /*.carousel-inner
      height 100%

    .item
      height 100%
      visibility hidden

    .carousel-control
      border-radius 12px
      height 100%
      opacity .4
      transition opacity .24s ease
      width 8%
      &:hover
        opacity .6

      .building-img-icon
        position absolute
        top 50%
        z-index 5
        display inline-block
        font-size 30px

    .right
      .building-img-icon
        right 0
    .left
      .building-img-icon
        left 0*/


    .item
      border-radius 10px
      margin 0 10px
      overflow hidden
      visibility hidden
      height 300px
      width 310px
      @media screen and (min-width: 370px)
        height 320px
        width 356px
      @media screen and (min-width: 412px)
        width 394px
      @media screen and (min-width: 568px)
        width 480px
        height 260px
      @media screen and (min-width: 666px)
        width 580px
        height 305px
      @media screen and (min-width: 768px)
        height 350px
        width 560px
      @media screen and (min-width: 992px)
        height 370px
        width 500px
      @media screen and (min-width: 1200px)
        height 390px
        width 650px
      @media screen and (min-width: 1300px)
        height 420px
        width 650px


    .building-img
      margin 0 auto

    .slick-prev:before,.slick-next:before
      text-shadow 0 1px 5px rgba(0,0,0,.5)
      font-size 25px
      color #fff
      transition all .3s ease
      @media screen and (min-width: 768px)
        text-shadow 0 1px 1px rgba(0,0,0,.15)
        color #4588fa

    .slick-prev
      left 0px
      @media screen and (min-width: 768px)
        left -30px

    .slick-next
      right 5px
      @media screen and (min-width: 768px)
        right -25px

    a.recommend-toggle
      color #FFF
      font-size 25px
      position absolute
      right 10px
      top 5px
      z-index 999
      &:hover
        color #FDF8B5
      &.active
        color #FFEC00



  .brokerage-info
    margin-top 5px

  .building-info-title
    background-color #ebebeb
    padding 10px 20px
    margin-bottom 15px
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 15px
    font-weight bold
    .fa
      padding 0 10px 0 0

  .building-unit-item
    border 1px solid #999
    border-radius 3px
    padding 1rem

.building-info-section
  .building-features-list
    margin 0 0 15px
    li
      font-size 15px
      padding-left 25px
      padding-right 0
      margin 5px 0
      @media screen and (min-width: 768px)
        font-size 16px
        margin 5px 0
        padding-right 5px
      i
        position absolute
        left 0
        top 4px

.building-unit-list-wrap > ul
  list-style none
  padding-left 0
  overflow-x hidden !important
  @media screen and (min-width: 992px)
    max-height 700px
  @media screen and (min-width: 1200px)
    max-height 600px

  li.building-unit-item-wrap
    @media screen and (min-width: 380px)
      float left
      width 50%
      &:nth-child(2n)
        padding-left 3%
      &:nth-child(2n-1)
        padding-right 3%

    @media screen and (min-width: 992px)
      float none
      padding 0 !important
      width 100%

.building-unit-item
  border 1px solid #eee
  border-radius 4px
  box-shadow 0px 3px 12px -3px rgba(0,0,0,0.2)
  padding 15px 5% 6px
  margin 0 auto 15px
  max-width 85%
  @media screen and (min-width: 768px)
    max-width 100%
    padding 4% 4% 5px
  @media screen and (min-width: 992px)
    margin-bottom 20px
  
  .unit-img-wrap + .col-sm-6
    @media screen and (min-width: 768px)
      padding-left 2px
    @media screen and (min-width: 992px)
      padding-left 15px

  a.recommend-toggle
    color #FFF
    font-size 18px
    position absolute
    right 20px
    top 2px
    z-index 999
    &:hover
      color #FDF8B5
    &.active
      color #FFEC00

  .unit-img-wrap
    @media screen and (min-width: 992px)
      padding-right 0
    img
      max-width 100%
      max-height 180px

  .building-unit-info
    overflow hidden

    .building-unit-info-title
      font-family 'Montserrat', Helvetica, sans-serif
      display inline-block
      margin 10px 0 0
      padding 0
      font-size 16px
      a
        color #272b30
        &:hover
          cursor default
          text-decoration none

    .building-unit-info-price
      font-family 'Montserrat', 'Open Sans', Helvetica, sans-serif
      font-size 15px
      line-height 1.5
      position relative
      i
        margin-right 5px

      .unit-price
        color #36B400
        padding-left 5%
        display inline-block
        position absolute
        top 0

      .unit-type
        border-right 1px solid #c7c7c7
        color #272b30
        padding-right 6%
        display inline-block
        vertical-align middle

      .unit-baths img
        margin-right 5px
        width 1.2em

  .building-unit-prop-list
    clear both

    .building-unit-prop
      display inline-block
      padding 0 10px 0 0
      line-height 30px
      font-size 12px
      .fa-check
        color #4588fa

  .building-unit-btn-wrap
    margin 6px 0 0
    .building-unit-btn
      font-size 13px


  .building-features
    font-size 15.5px
    color #222
    padding-bottom 10px
    padding-right 5px
    float none
    display inline-block
    vertical-align top
    i
      float left
      position relative
      top 2px
    .building-features-text
      display block
      font-weight bold
      overflow hidden

.blue-icon
  color #4588fa
.grey-icon
  color dimgrey

.add-image-btn,.add-video-btn
  position: relative;
  overflow: hidden;
  background-color #fff
  border 1px solid #ddd
  text-align center
  width 140px
  height 110px
  font-size 18px
  color #272b30
  display block
  border-radius 6px
  margin-top 10px
  cursor pointer
  box-sizing border-box
  padding-top 10px
  i:first-child
    font-size 25x
    margin-top 10px
  b
    display block

.add-image-btn input[type=file]
  position absolute
  top 0
  left 0
  width 140px
  height 110px
  text-align right
  opacity 0
  cursor pointer
  display block

.cover-image
  visibility hidden

.item:hover .cover-image
  opacity 1
  visibility visible


.thumbnail-image
  position relative
  margin-top 10px
  .fa-video-camera
    color #FFF
    position absolute
    right 70px
    top 35px

.img-thumbnail
  width 140px
  height 110px
  max-width 140px
  
.cover-image
  position absolute
  top 0
  right 0

.images-sortable-placeholder
  height 120px


button.remove-image
  /*position absolute*/
  background lightgray
  -webkit-appearance none
  border 0
  border-radius: 4px;

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.walk-score-wrap
  border 1px solid #eee
  border-radius 5px
  box-shadow 1px 2px 10px -3px rgba(0,0,0,.14)
  padding 0
  width 100%
  margin 25px 0 20px
  @media screen and (min-width: 992px)
    box-shadow 1px 3px 12px -3px rgba(0,0,0,.2)
    margin-top 30px

  *
    padding 0
    margin 0
    border 0
    outline 0

  > div
    margin 11px 9px 0

  h2,h3,p
    font-style normal
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
    text-align left
    text-decoration none
    vertical-align baseline
    
  h2
    font 15px/19px 'Arial Black', Gadget, sans-serif
    font-weight normal
    color #222

  h3
    color #666
    font 12px/14px Verdana, Arial, Helvetica, sans-serif
    font-weight bold
    margin 2px 0 4px
  
  .icon-wrap
    position relative
    padding-bottom 35%
    width 100%

    > div
      position absolute
      top 0
      bottom 0
      left 0
      right 0

      img
        background none
        border-radius 0
        box-shadow none
        color transparent
        float left
        margin 0 0 0 2%
        width 30.6666%

  p,p>a
    color #999
    font-size 11px
    font-family Verdana, Arial, Helvetica, sans-serif
    line-height 13px
    clear both
  p
    padding 8px 0
    text-align center


.map-container
  height 300px
  margin-top 25px
  margin-bottom 20px
  @media screen and (min-width: 768px)
    height 350px
  @media screen and (min-width: 992px)
    height 400px
    margin-top 30px
    margin-bottom 30px
  @media screen and (min-width: 1200px)
    height 480px

  #gmap
    height 100%
    background-color rgba(229,230,232,.95)


.building-admin-info
  padding 0 0 10px
  .building-admin-info-text
    font-weight bold
    padding 0 5px 0 0
    display inline-block
    .building-admin-info-data
      display inline-block

.label-radio
  padding 0 5px 0 0

.highlight
  background-color #f7f7f9
  border 1px solid #e1e1e8
.space 
  margin-top 10px
h4 
  font-weight bold

h2.section-title
  background-color #ebebeb
  font-family 'Montserrat', Helvetica, sans-serif
  font-size 15px
  margin-bottom 15px
  padding 10px 20px
  i
    margin-right 5px
      @media screen and (min-width: 992px)
        margin-right 8px

  a.btn-xs
    margin -3px

h3.section-title
  background-color #ebebeb
  padding 10px 20px

.similar-properties
  > li:last-child
    @media screen and (min-width: 768px) and (max-width: 991px)
      display none

  .main-city-item
    .main-city-img-link > div
      background-size cover
      background-repeat no-repeat
      background-position center center
      border-radius 8px
      width 100%
      height 200px
      @media screen and (min-width: 400px)
        height 220px
      @media screen and (min-width: 500px)
        height 240px
      @media screen and (min-width: 650px)
        height 270px
      @media screen and (min-width: 768px)
        height 240px
      @media screen and (min-width: 1200px)
        height 180px
      @media screen and (min-width: 900px)
        box-shadow 0 8px 12px -5px rgba(0,0,0,.3)

  .main-city-item-link
    color #272b30
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 15px
    line-height 1.4
    text-decoration none
    margin-bottom 0

  .main-city-item-wrap
    padding 15px 0 5px
    p
      font-weight bold
    .similar-property-price
      color rgb(220, 210, 0)
      padding 0 10px 0 0
      display inline-block
      vertical-align middle
      font-size 14.5px
      text-shadow 0 0px 0px rgba(0,0,0,.6)

.showRatingText
  margin-top 8px

.calcPop
  position absolute
  bottom 8px
  left 24px
  cursor pointer



  #ws-walkscore-tile
    position relative
    text-align left
      *
        float none

  #ws-foottext, #ws-footer a, #ws-footer a:link
      font 11px/14px Verdana,Arial,Helvetica,sans-serif
      margin-right 6px
      white-space nowrap
      padding 0
      color #000
      font-weight bold
      text-decoration none

#ws-footer
  a
    &:hover
      color #000
      text-decoration none
    &:active
      color #b14900
