.content-wrapper
  height 100%
  .breadcrumb
    padding 5px 0 5px 15px
    background #fff
    & > li
        &.active
          color #272b30
        & + li
          &:before
            padding 0 15px
            color #272b30
            content ">"
        a
          color #4588fa

  .building-sidebar
    height 100%
    padding 0
    float none
    @media screen and (min-width: 1200px)
      float right

  .building-page
    max-width 1280px
    margin 0
    .building-main-info
      @media screen and (min-width: 1200px)
        float right
      padding 0 20px
      box-sizing border-box
      .building-main-info-title
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 26px
        font-weight bold
        margin 0 20px 20px 0
        padding 0
        color #272b30
        float left
        width 300px
        @media screen and (min-width: 1200px)
          width 100%
          float none
          margin 0
      .building-main-price-wrap
        clear both
        max-width 290px
        margin 20px 0
        border 1px solid #999
        border-radius 3px
        padding 0
        box-sizing border-box
        .building-main-price-opt
          font-family 'Montserrat', Helvetica, sans-serif
          font-size 18px
          font-weight bold
          border-bottom 1px solid #999
          padding 15px 25px
          &:last-child
            border 0 none
        .building-main-price
          color #cc9900
          padding 0 20px 0 0
          display inline-block
          vertical-align middle
        .building-main-rooms
          border-left 1px solid #c7c7c7
          padding 0 0 0 20px
          display inline-block
          vertical-align middle
      .building-main-prop-list
        .building-main-prop
          color #272b30
          font-size 16px
          padding 15px 0
          .fa
            padding 0 10px 0
      .building-main-info-btn
        background-color #4588fa
        @media screen and (min-width: 1200px)
          width 300px
        font-weight bold
        &:hover
          background-color #337ab7

.building-main-info-desc-wrap
  .building-main-info-desc
    padding 25px 0 0
    font-size 16px
    margin 0

  .building-main-info-desc-more
    display none
    &:checked
      & ~ .building-main-info-desc
        .building-desc-more-target
          opacity 1
          font-size inherit
          max-height 999em
      & ~ .building-main-more-trigger
        &:before
          content 'less'
          color #4588fa
          font-family 'Montserrat', Helvetica, sans-serif
          font-size 14px
          cursor pointer
    & ~ .building-main-more-trigger
      &:before
        content 'more'
        color #4588fa
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 14px
        cursor pointer

  .building-desc-more-target
    opacity 0
    max-height 0
    font-size 0
    transition .25s ease

  .building-share-list
    margin 20px 0
    .building-share
      padding 0 10px 0 0
      .building-share-icon
        display inline-block
        border-radius 50%
        color #fff
        &.fa-facebook
          background-color #3b5b9d
          padding 5px 8px
        &.fa-twitter
          background-color #2aa9e2
          padding 5px 6px
        &.fa-paper-plane
          background-color #339900
          padding 5px
        &.fa-plus
          background-color #666
          padding 5px 7px
        &:hover
          text-decoration none
          opacity 0.7

.building-info-wrap
  @media screen and (min-width: 1200px)
    float left

  .building-img-wrap
    max-width 800px
    max-height 518px
    .building-img
      width 100%
    .carousel-control
      .building-img-icon
        position absolute
        top 50%
        z-index 5
        display inline-block
        font-size 30px

  .building-info-title
    background-color #ebebeb
    padding 10px 20px
    margin-bottom 15px
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 12px
    font-weight bold
    .fa
      padding 0 10px 0 0

  .building-unit-item
    border 1px solid #999
    border-radius 3px
    padding 1rem
    margin 0 0 15px
    img
      padding 0 15px 0 0
      max-width 90px
      max-height 90px
    .building-unit-info
      overflow hidden
      .building-unit-info-title
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 16px
        color #272b30
        display inline-block
        margin 0
        padding 0 0 5px
      .building-unit-info-price
        font-family 'Montserrat', Helvetica, sans-serif
        margin 0 0 5px
        .unit-price
          font-size 18px
          color #cc9900
          padding 0 10px 0 0
          display inline-block
          vertical-align middle
        .unit-type
          border-left 1px solid #c7c7c7
          font-size 16px
          color #272b30
          padding 0 0 0 10px
          display inline-block
          vertical-align middle

      .building-unit-btn
        color #4588fa
        font-size 1rem
        font-weight bold
        margin 0 0 10px

    .building-unit-prop-list
      clear both
      padding 10px 0 0
      .building-unit-prop
        display inline-block
        padding 0 10px 0 0
        line-height 30px

  .building-features
    font-size 16px
    color #272b30
    padding-bottom 20px

  .building-review
    border 1px solid #999
    border-radius 3px
    padding 1rem
    margin 0 0 1rem

    .building-reviewer
      .building-reviewer-name
        font-size 13px
        font-family 'Montserrat', Helvetica, sans-serif
        display block
      time
        font-size 12px

    .rating-box
      font-family 'Montserrat', Helvetica, sans-serif
      font-size 20px
      color #272b30
      i
        color #cc9900

    .building-reviewer-title
      clear both
      font-family 'Montserrat', Helvetica, sans-serif
      font-size 18px
      font-weight bold
      color #272b30
      padding 10px 0 0

    .building-reviewer-desc
      font-size 16px

    .building-review-more
      display none
      &:checked
        & ~ .building-review-target
          font-size inherit
          max-height 999em
          display block
          opacity 1
        & ~ .building-review-trigger
          &:before
            content 'View less'
            color #4588fa
            font-family 'Montserrat', Helvetica, sans-serif
            font-size 14px
            cursor pointer
      & ~ .building-review-trigger
        &:before
          content 'View more'
          color #4588fa
          font-family 'Montserrat', Helvetica, sans-serif
          font-size 14px
          cursor pointer

    .building-review-target
      max-height 0
      font-size 0
      display none
      opacity 0
      transition .25s ease

    .building-review-list
      margin 15px 0
      padding 0
      .building-review-item
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 14px
        margin-bottom 10px
        .building-review-field
          display inline-block
        .building-review-rate
          font-size 16px
          color #272b30
          float right
        .building-review-bar
          background-color #ebebeb
          padding 0
          clear both
          .building-review-rate-5
            width 100%
          .building-review-rate-4
            width 80%
          .building-review-rate-3
            width 60%
          .building-review-rate-2
            width 40%
          .building-review-rate-1
            width 20%
          .building-review-rating
            .building-review-bar-animate
              animation progress 2s linear
              -moz-animation progress 2s linear
              -webkit-animation progress 2s linear
              -ms-animation progress 2s linear
              -o-animation progress 2s linear
              background-color #cc9900
              display block
              height 5px

footer
  clear both
  padding 0 15px
  .building-page-similar-item
    padding-left 0
    .building-page-similar-link
      display inline-block
      &:hover
        text-decoration none
      .building-page-similar-img
        max-width 250px
      .building-page-similar-info
        font-family 'Montserrat', Helvetica, sans-serif
        padding 10px 0
        .building-page-similar-price
          font-size 18px
          color #cc9900
          padding 0 0 0 10px
          display inline-block
          vertical-align middle

        .building-page-similar-desc
          padding 0 10px 0 0
          font-size 16px
          color #272b30
          font-weight bold
          display inline-block
          vertical-align middle
