.modal-dialog
  max-width 425px
  .availability-form
    padding 20px
    .modal-header
      border 0 none
      font-family 'Montserrat', Helvetica, sans-serif
      font-size 18px
      color #272b30
      box-sizing border-box
      padding 0 0 20px
      .close
        opacity 1
        i
          color #272b30
      .modal-title
        max-width 260px

    .modal-body
      box-sizing border-box
      padding 0
      .availability-field
        margin-bottom 20px
        font-size 12px
        color #272b30
        font-weight bold
        .form-control
          &::-webkit-input-placeholder
            color #272b30
        .form-group
          .form-control
            color #272b30
            &::-webkit-input-placeholder
              color #272b30

        .availability-text
          padding 0 20px 0 0
          &:after
            content "*"
            color #cc9900
            font-size 18px

    .modal-footer
      border 0 none
      padding 0
      .form-group
        .btn
          background-color #4588fa