template(name="checkAvailability")
  script(type='text/javascript').
    goog_snippet_vars2 = function() {
      var w = window;
      w.google_conversion_id = 971362509;
      w.google_conversion_label = "Jy4BCLua72IQzaGXzwM";
      w.google_remarketing_only = false;
    }
    //- DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion2 = function(url) {
      goog_snippet_vars2();
      window.google_conversion_format = "3";
      window.google_is_call = true;
      var opt = new Object();
      opt.onload_callback = function() {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      }
      var conv_handler = window['google_trackConversion'];
      if (typeof(conv_handler) == "function") {
        conv_handler(opt);
      }
    }

  +messageSent

  with building
    #checkAvailabilityPopup.modal.fade(tabindex='-1', role='dialog',data-backdrop="static", aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          form.availability-form

            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                i.fa.fa-times(aria-hidden='true')
              h4#myModalLabel.modal-title Check Availability

            .modal-body
              p.form-group
                | We will gladly help you check availability of 
                span(class="text-primary") {{propertyName}}
                | . &nbsp;Tell us a little about your needs, and our {{currentCity}} rep will contact you soon.

              fieldset.form-group.availability-field
                input.form-control(name="name" placeholder="Name")

              fieldset.form-group.availability-field
                input.form-control(name="email" placeholder="Email address")

              fieldset.form-group.availability-field
                textarea.form-control(name="question" placeholder="Is this unit still available?", rows="4")

              if condition agroIsUnit 'is' false
                fieldset.row.form-inline.availability-field#bedrooms-wrapper
                  .col-xs-5
                    label.availability-text(for="bedrooms") # of Bedrooms
                  .col-xs-7
                    .form-group
                      .input-group
                        .input-group-addon
                          i.fa.fa-fw.fa-bed
                        select.form-control(name="bedrooms")
                          option(value="") -  Select  -
                          option(value="studio") Studio
                          option(value="1") 1
                          option(value="2") 2
                          option(value="3") 3
                          option(value="4") 4
                          option(value="5") 5+

              fieldset.row.form-inline.availability-field
                .col-xs-5
                  label.availability-text(for="datetimeForm")
                    | Move-In Date
                .col-xs-7.form-group
                  +datepicker(id="datetimeForm" family="moveInData" field="moveInDate" placeholder="MM/DD/YYYY" class="moveInData-moveInDate-editor" name="moveInDate")

            .modal-footer
              if serverError
                .form-group
                  .alert.alert-danger(role="alert")
                    strong Sorry! Server error occurred! We are already working hard to get it fixed ASAP :-)
              button.btn.btn-primary.btn-lg.btn-block.submit-button(type="submit")
                | Let's Go
                .fa.fa-spin.fa-refresh.m-l-10.loading(style="display: none;")
                i.fa.fa-chevron-circle-right.m-l-10(aria-hidden='true')
