template(name="checkAvailability")
  +messageSent
  //button.btn.btn-primary.check-availability Check Availability
  //.addthis_sharing_toolbox
  with building
    #checkAvailabilityPopup.modal.fade(tabindex='-1', role='dialog',data-backdrop="static", aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          form.availability-form
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title Check Availability
            .modal-body
              fieldset.form-group.availability-field
                | We gladly help you to check <i>here will be property name</i> for availability. Please enter your contact details and our agent will write to you asap.
              fieldset.form-group.availability-field
                input.form-control(name="name" placeholder="Name")
              fieldset.form-group.availability-field
                input.form-control(name="email" placeholder="Email address")
              fieldset.form-group.availability-field
                textarea.form-control(name="question" placeholder="Question")
              fieldset.form-inline.availability-field
                .form-group
                  label.availability-text(for="datetimeForm")
                    | MOVE-IN DATE
                  +datepicker(id="datetimeForm" family="moveInData" field="moveInDate" placeholder="mm/dd/yyyy" class="moveInData-moveInDate-editor" name="moveInDate")
            .modal-footer
              if serverError
                .form-group
                  .alert.alert-danger(role="alert")
                    strong Sorry! Server error occured! We probably already fixing it:)
              fieldset.form-group.availability-field.clearfix
                button.btn.btn-primary(type="submit") Submit
                //button.btn.btn-default.cancel-button Cancel

