.availability-field
  margin-bottom 2rem
  font-size 12px
  color #272b30
  .btn
    background-color #4588fa

.availability-text
  padding 0 20px 0 0
  &:after
    content "*"
    color #cc9900
    font-size 18px