.modal-dialog
  max-width 500px
  .availability-form
    padding 15px
    @media screen and (min-width: 768px)
      padding 5%
    @media screen and (min-width: 992px)
      padding 6%
    @media screen and (min-width: 1200px)
      padding 20px 30px

    .modal-header
      border 0 none
      font-family 'Montserrat', Helvetica, sans-serif
      font-size 18px
      color #272b30
      box-sizing border-box
      padding 0 0 10px
      @media screen and (min-width: 768px)
        padding 0 0 14px
      .close i
        color #272b30
        @media screen and (min-width: 768px)
          position relative
          top -10px
          left 10px

    .modal-body
      box-sizing border-box
      padding 0
      p > .text-primary
        margin-right -3px
      .availability-field
        &#bedrooms-wrapper
          .form-group
            width 100%
        margin-bottom 20px
        font-family 'Montserrat', Helvetica, sans-serif
        font-size 14px
        color #272b30
        font-weight bold
        &#msgGrp
          font-weight normal
          margin-top 20px
        .form-control
          &::-webkit-input-placeholder
            color #272b30
        .form-group
          .form-control
            color #272b30
            &::-webkit-input-placeholder
              color #272b30
        .availability-text
          padding 0 20px 0 0
          &.required:after
            content "*"
            color #aaa
            font-size 18px
        .input-group
          width 100%
          .input-group-addon
            width 42px

    .modal-footer
      border 0 none
      padding 0
      .form-group
        .btn
          background-color #4588fa