template(name="checkAvailability")
  button.btn.btn-primary.check-availability Check Availability

  #chechAvailabilityPopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Check Availability
        .modal-body
          .form-group
            | We gladly help you to check <i>here will be property name</i> for availability. Please enter your contact details and our agent will write to you asap.
          .form-group
            +input(placeholder="Name")
          .form-group
            +input(placeholder="Email address")
          .form-group
            +textarea(placeholder="Question")
          .form-group
            label MOVE-IN DATE
            +datepicker(field="moveInDate" name="moveInDate" placeholder="mm/dd/yyyy" class="moveInDate")
        .modal-footer
          button.btn.btn-primary.submit-button(type="submit") Submit
          button.btn.btn-default Cancel

  #chechAvailabilityMessageSentPopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Message sent!
        .modal-body
          | You're awesome.
        .modal-footer
          button.btn.btn-default.continue-browsing Continue browsing