template(name="checkAvailability")
  button.btn.btn-primary.check-availability Check Availability

  #checkAvailabilityPopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        form
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Check Availability
          .modal-body
            .form-group
              | We gladly help you to check <i>here will be property name</i> for availability. Please enter your contact details and our agent will write to you asap.
            .form-group
              +input(family="moveInData" property="name" placeholder="Name")
            .form-group
              +input(family="moveInData" property="email" placeholder="Email address")
            .form-group
              +textarea(family="moveInData" property="question" placeholder="Question")
            .form-group
              label MOVE-IN DATE
              +datepicker(family="moveInData" field="moveInDate" placeholder="mm/dd/yyyy" class="moveInData-moveInDate-editor" name="moveInDate")
          .modal-footer
            .form-group
              button.btn.btn-primary(type="submit") Submit
              button.btn.btn-default.cancel-button Cancel

  #checkAvailabilityMessageSentPopup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Message sent!
        .modal-body
          | You're awesome.
        .modal-footer
          button.btn.btn-default.continue-browsing Continue browsing