.break {
    display: block;
    clear: both;
    page-break-after: always;
}


#rental-application-wrapper input {
    border: 0;
    border-bottom: 1px solid #999;
    box-shadow: none;
    border-radius: 0;
    height: 24px;
    font-size: 15px;
}

#rental-application-wrapper .form-group {
    margin-bottom: 24px;
    min-width: 1200px;
}

#rental-application-wrapper label {
    margin-right: 2px;
}

.form-group label {
    font-size: 15.5px;
    text-align: right;
}

img.document {
    max-width: 1050px;
    max-height: 1550px;
}

.col-sm-1 {
    max-width: 120px;
}