template(name="footer")
  footer.page-footer(itemtype="http://schema.org/WPFooter")

    .container
      .row
        .col-xs-12(itemscope, itemtype="http://schema.org/LocalBusiness")
          .row

            .col-xs-12.col-sm-3.text-center#logocolumn
              .row
                .col-xs-12
                  a.hide-text(href="/") Rent Scene
                    img.logo.animated.spin-wrapper(src="/images/logo-icon-white.png", itemprop="image", alt="Rentscene Icon")
                    img.logo-text(src="/images/logo-text-white.png", itemprop="image", alt="Rentscene")
                  p.slogan Guiding You Home.

                .col-xs-12
                  .contact-info
                    .address(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
                      span.show(itemprop="streetAddress") 1500 John F. Kennedy Blvd.
                      span.show Suite 1510
                      span.show
                        span(itemprop="addressLocality") Philadelphia
                        |,
                        span(itemprop="addressRegion") PA 
                        span(itemprop="postalCode") 19013
                    .phone-email
                      span.show
                        i.fa.fa-fw.fa-mobile.hidden
                        span(itemprop="telephone") (267) 463-2428
                        a.show(href="mailto:team@rentscene.com" target="_blank" itemprop="email") team@rentscene.com

            .col-xs-12.col-sm-9
              .row
                .col-xs-12.col-sm-4
                  h5 Company
                  a(href="/", itemprop="url") About Rent Scene
                  //- a(href="/", itemprop="url") Join The Team
                  //- a(href="/", itemprop="url") Blog
                  a(href="/", itemprop="url") Privacy Policy

                .col-xs-12.col-sm-4
                  h5 Social
                  a(href="https://twitter.com/RentScene", itemprop="url", target="_blank")
                    i.fa.fa-fw.fa-twitter
                    | Twitter
                  a(href="https://www.facebook.com/RentScene/", itemprop="url", target="_blank")
                    i.fa.fa-fw.fa-facebook
                    | Facebook
                  a(href="https://plus.google.com/+RentScenePhiladelphia/about", itemprop="url", target="_blank", rel="publisher")
                    i.fa.fa-fw.fa-google-plus
                    | Google+
                  a(href="https://www.linkedin.com/company/5276179", itemprop="url", target="_blank")
                    i.fa.fa-fw.fa-linkedin
                    | LinkedIn

                .col-xs-12.col-sm-4
                  h5 Help
                  //- a(href="/", itemprop="url", target="_blank") Support Center
                  a(href="mailto:team@rentscene.com", itemprop="url", target="_blank")
                    i.fa.fa-fw.fa-envelope
                    | Email Support
                  a(href="tel://1-267-463-2428", itemprop="url")
                    i.fa.fa-fw.fa-mobile
                    | Phone Support

      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.copyright-wrap.clearfix
          span.copyright &copy; 2016 Rent Scene LLC. All Rights Reserved.