.page-footer
  padding 3px 15px
  @media screen and (min-width: 600px)
    background #ececec
  .copyright
    font-size 12px
    color rgba(108,110,112,.8)
  .idx-disclaimer
    border-top 1px solid #CCC
    margin-top 10px
    padding-top 10px
    p
      text-align left
      line-height 1.2em
      font-size 12px
      color rgba(108,110,112,.8)
      margin-bottom 10px