.page-footer
  width 100%;
  height auto;
  padding 30px 0 8px;
  background #33383D;
  border-top 1px solid rgba(0,0,0,0.05);

  .logo
    height 30px
    width 30px

  .logo-text
    margin-left 8px
    max-height 34px

  .slogan
    color #fff
    font-family "Montserrat", "Open Sans", "Roboto", "Raleway", Arial, sans-serif
    font-size 12.5px
    letter-spacing .25px
    padding-left 38px
    margin-top -8px

  h5
    color #fff
    font-family "Montserrat", "Open Sans", "Roboto", "Helvetica", Arial, sans-serif
    font-size 15px
    letter-spacing .5px

  a
    color #888;
    display block;
    font-weight bold
    margin 5px 0;
    line-height 1.5;

  .copyright
    font-size 13px
    color rgba(108,110,112, 0.75)