.city-page-wrap
  padding 0

.left-bar
  overflow auto

.main-city-list-wrap
  background #fff
  height 100%
  width 100%
  padding 10px
  @media screen and (min-width: 768px)
    padding 15px
  @media screen and (min-width: 992px)
    padding 18px 25px
  @media screen and (min-width: 1200px)
    padding 18px 30px
  box-sizing border-box
  .main-city-list
    text-align center
    li
      max-width 450px
      display inline-block
      float none
      vertical-align top
      text-align left
    .main-city-item
      margin 0 0 2rem 0
      padding 15px
      padding-bottom 0
      box-sizing border-box
      border 1px solid #eeeeee
      border-radius 3px
      position relative
      .building-img-wrap
        a.left.carousel-control, a.right.carousel-control
          z-index 999
          &:focus
            color #FFF
            opacity .5
          i
            margin-top 90px
      .main-city-img-link
        position relative
        display block
        height 200px
        overflow hidden
        &:hover
          &:after
            opacity 1
        img
          width 100%
      .main-city-item-wrap
        padding 15px 0
        .main-city-info-btn
          color #4588fa
          padding 10px 0 0
          cursor pointer
        .main-city-item-title
          padding 0
          margin 10px 0
          float left
          height 18px
          overflow hidden
          font-size 16px
          .main-city-item-link
            font-family 'Montserrat', Helvetica, sans-serif
            font-size 16px
            color #272b30
            text-decoration none

        .main-city-info
          clear both
          font-family 'Montserrat', Helvetica, sans-serif
          height 36px
          font-size 14px
          overflow hidden
          i
            font-size 18px
            padding 0 10px 0 0

          .main-city-price
            color #cc9900
            padding 0 10px 0 0
            display inline-block
            vertical-align middle
            font-size 14px
          .main-city-desc
            border-left 1px solid #c7c7c7
            color #272b30
            padding 0 0 0 10px
            font-size 14px
  a.recommend-toggle
    color #FFF
    font-size 25px
    position absolute
    right 20px
    top 20px
    z-index 999
    &.active, &:hover
      color #FFEC00


.city-side-bar
  height 100%
  padding 0
  float none
  @media screen and (min-width: 1200px)
    float right
  #gmap
    height 100%

.loading-btn-wrap
  text-align center

.loading-btn
  background-color #4588fa
  font-weight bold
  display inline-block

.button-building-insert
  margin-bottom 18px
