.city-page-wrap
  padding 0

.left-bar
  overflow auto

.main-city-list-wrap
  background #fff
  height 100%
  width 100%
  padding 10px
  @media screen and (min-width: 768px)
    padding 15px 15px 0
  @media screen and (min-width: 992px)
    padding 18px 25px 0
  @media screen and (min-width: 1200px)
    padding 30px 30px 0
  box-sizing border-box

  .main-city-list
    text-align center
    li
      max-width 450px
      display inline-block
      float none
      vertical-align top
      text-align left

    .main-city-item
      padding 0
      box-sizing border-box
      border 1px solid #eee
      border-radius 3px
      position relative
      .item
        height 200px
      .fa-video-camera
        color #FFF
        left 42%
        position absolute
        top 35%
      .building-img-wrap
        a.left.carousel-control, a.right.carousel-control
          z-index 99
          &:focus
            color #FFF
            opacity .5
          i
            margin-top 90px
      .main-city-img-link
        position relative
        display block
        height 200px
        overflow hidden
        &:hover
          &:after
            opacity 1
        img
          width 100%

      .main-city-item-wrap
        .main-city-info-btn
          padding 10px 0 0
          cursor pointer
        .main-city-item-title
          padding 0
          margin 10px 0
          float left
          height 18px
          overflow hidden
          font-size 16px
          .main-city-item-link
            font-family 'Montserrat', Helvetica, sans-serif
            font-size 16px
            color #272b30
            text-decoration none

        .main-city-info
          clear both
          font-family 'Montserrat', Helvetica, sans-serif
          height 36px

          .main-city-price
            padding 0 10px 0 0
            display inline-block
            vertical-align middle
            font-size 15px

  a.recommend-toggle
    color #FFF
    font-size 25px
    position absolute
    right 20px
    top 20px
    z-index 999
    &:hover
      color #FDF8B5
    &.active
      color #FFEC00

.city-side-bar
  height 100%
  padding 0
  float none
  @media screen and (min-width: 1200px)
    float right
  #gmap
    height 100%

.loading-btn-wrap
  text-align center

.loading-btn
  display inline-block
