template(name="buildingAdminFieldsEdit")
  .form-group
    label
      | Same as building:
      span.building-admin-same-id-select-placeholder

  with adminBuilding
    if mlsNo
      .building-admin-info
        label.building-admin-form-text
          | MLS #:
        span.building-admin-info-data
          | {{mlsNo}}

    .form-group.fg-float
      .fg-line
        input.admin-field.form-control.fg-input(type="text", name="adminAvailability", value="{{adminAvailability}}", disabled="{{Session 'adminSameId'}}")
      label.fg-label(for="adminAvailability") How To Check Availability:

    .form-group.fg-float
      .fg-line
        input.admin-field.form-control.fg-input(type="text", name="adminAppFee", value="{{adminAppFee}}", disabled="{{Session 'adminSameId'}}")
      label.fg-label(for="adminAppFee") Application Fee:

    .form-group.fg-float
      .fg-line
        input.admin-field.form-control.fg-input(type="text", name="adminEscorted", value="{{adminEscorted}}", disabled="{{Session 'adminSameId'}}")
      label.fg-label(for="adminEscorted") Escorted:


    .form-group.fg-float
      .fg-line
        textarea.admin-field.form-control.fg-input(type="text", name="adminOfficeHours", disabled="{{Session 'adminSameId'}}", rows="5") {{adminAvailability}}
      label.fg-label(for="adminOfficeHours") Office Hours:

    .form-group.fg-float
      .fg-line
        textarea.admin-field.form-control.fg-input(type="text", name="adminScheduling", rows="5", disabled="{{Session 'adminSameId'}}") {{adminScheduling}}
      label.fg-label(for="adminScheduling") Scheduling Instructions:

    .form-group.fg-float
      .fg-line
        textarea.admin-field.form-control.fg-input(type="text", name="adminContact", rows="5", disabled="{{Session 'adminSameId'}}") {{adminContact}}
      label.fg-label(for="adminContact") Contact Instructions:

    .form-group.fg-float
      .fg-line
        textarea.admin-field.form-control.fg-input(type="text", name="adminNotes", rows="5", disabled="{{Session 'adminSameId'}}") {{adminNotes}}
      label.fg-label(for="adminNotes") Notes:
