template(name="buildingAdminFieldsEdit")
  .form-group
    label
      | Same As Building:
      span.building-admin-same-id-select-placeholder

  with adminBuilding
    if mlsNo
      .building-admin-info
        label.building-admin-form-text
          | MLS #:
        span.building-admin-info-data
          | {{mlsNo}}

    .row
      .col-sm-7
        .form-group.fg-float
          .fg-line
            input.admin-field.form-control.fg-input(type="text", name="adminAvailability", value="{{adminAvailability}}", disabled="{{Session 'adminSameId'}}")
          label.fg-label(for="adminAvailability") How To Check Availability:

      .col-sm-4
        .form-group.fg-float
          .fg-line
            input.admin-field.form-control.fg-input(type="text", name="adminAppFee", value="{{adminAppFee}}", disabled="{{Session 'adminSameId'}}")
          label.fg-label(for="adminAppFee") Application Fee:

    .row
      .col-sm-7
        .form-group.fg-float
          .fg-line
            textarea.admin-field.form-control.fg-input(type="text", name="adminOfficeHours", disabled="{{Session 'adminSameId'}}", rows="3") {{adminAvailability}}
          label.fg-label(for="adminOfficeHours") Office Hours:

      .col-sm-4
        .form-group.fg-float
          .fg-line
            input.admin-field.form-control.fg-input(type="text", name="adminEscorted", value="{{adminEscorted}}", disabled="{{Session 'adminSameId'}}")
          label.fg-label(for="adminEscorted") Escorted:

    .row
      .col-sm-6
        .form-group.fg-float
          .fg-line
            textarea.admin-field.form-control.fg-input(type="text", name="adminScheduling", rows="3", disabled="{{Session 'adminSameId'}}") {{adminScheduling}}
          label.fg-label(for="adminScheduling") Scheduling Instructions:

      .col-sm-6
        .form-group.fg-float
          .fg-line
            textarea.admin-field.form-control.fg-input(type="text", name="adminContact", rows="3", disabled="{{Session 'adminSameId'}}") {{adminContact}}
          label.fg-label(for="adminContact") Contact Instructions:
