template(name="featuredProps")

  section.main-section.featured-props-wrap.clearfix.p-l-0.p-r-0.p-b-0
    .container-fluid.p-b-25

      h2.main-section-title Featured Listings

      .col-xs-12
        .row.featured-props-row

          .col-sm-6.col-md-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon
                      span 1 Month Free
                    div.cover-img(style="background-image:url('/cfs/files/images/Kf5hQveEbPQNxbE23/055B2313.jpg?store=thumbs')")
                  .content
                    .main
                      h3.name AQ Rittenhouse
                      p.price $1,710 / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | 1, 2, & 3 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 1-2 Bathroom
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available Now

                    .footer
                      .note.special 1 Month Free on 13-Month Lease

                .back
                  .header
                    .neighborhood Rittenhouse Square
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | Bike storage w/ repair station
                        li
                          i.fa.fa-li.fa-check-circle
                          | Rooftop lounge with firepits
                        li
                          i.fa.fa-li.fa-check-circle
                          | Pet-friendly
                        li
                          i.fa.fa-li.fa-check-circle
                          | Doorman
                        li
                          i.fa.fa-li.fa-check-circle
                          | Exclusive car share program
                      h4.text-center Neighborhood
                      p Brand new luxury building with amazing panoramic views of Rittenhouse. Close to Philly's best shopping, dining & cultural options.
                  .footer
                    .btn-group.btn-group-justified
                      a.btn.viewprop(href="/city/philadelphia/rittenhouse-square/aq-rittenhouse", title="Click to see AQ Rittenhouse!") View
                      a.btn.check-availability Check Availability


          .col-sm-6.col-md-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon.hidden
                      span
                    div.cover-img(style="background-image:url('/cfs/files/images/ionNc7HChQRe9Nho6/10%20(8).jpg?store=thumbs')")
                  .content
                    .main
                      h3.name 2116 Chestnut
                      p.price $1,690+ / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | 1, 2, & 3 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 1-2 Bathrooms
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available Now
                    .footer
                      //-.note.special 1 Month Free on 12-Month Lease

                .back
                  .header
                    .neighborhood Center City West
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | In-unit washer & dryer
                        li
                          i.fa.fa-li.fa-check-circle
                          | 24-hour concierge desk
                        li
                          i.fa.fa-li.fa-check-circle
                          | Outdoor Hot Tub
                        li
                          i.fa.fa-li.fa-check-circle
                          | Fitness center & yoga room
                        li
                          i.fa.fa-li.fa-check-circle
                          | Community roof deck
                      h4.text-center Neighborhood
                      p Steps from the Philly's best, 2116 Chestnut is the ideal address for an urban lifestyle. Walk to Center City or Univ City. 5-min walk from Rittenhouse Square.
                  .footer
                    .btn-group.btn-group-justified
                      a.btn.viewprop(href="/city/philadelphia/center-city-west/2116-chestnut", title="Click to see 2116 Chestnut St!") View
                      a.btn.check-availability Check Availability


          .col-sm-6.col-md-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon
                      span 1 Month Free
                    div.cover-img(style="background-image:url('/cfs/files/images/pt8NhR8Z9PYM6Le4g/07.jpg?store=thumbs')")
                  .content
                    .main
                      h3.name Avenir on Fifteenth
                      p.price $1,592 / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | Studio, 1, 2 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 1-2 Bathrooms
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available Now
                    .footer
                      .note.special 1 Month Free

                .back
                  .header
                    .neighborhood Center City
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | Full-time concierge
                        li
                          i.fa.fa-li.fa-check-circle
                          | Stainless steel appliances
                        li
                          i.fa.fa-li.fa-check-circle
                          | Indoor bike storage
                        li
                          i.fa.fa-li.fa-check-circle
                          | In-unit washer & dryer
                        li
                          i.fa.fa-li.fa-check-circle
                          | Fitness center
                      h4.text-center Neighborhood
                      p Beautiful new Center City Philly apartments, just blocks from Rittenhouse Square!
                  .footer
                    .btn-group.btn-group-justified
                      a.btn.viewprop(href="/city/philadelphia/rittenhouse-square/avenir-on-15th", title="Click to see Avenir on Fifteenth!") View
                      a.btn.check-availability Check Availability


          .col-sm-6.col-md-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon.hidden
                      span
                    div.cover-img(style="background-image:url('/cfs/files/images/Evkc7eRuXS3mJQYsb/The_Belgravia_Condos-1-Entrance.jpg?store=thumbs')")
                  .content
                    .main
                      h3.name The Belgravia Condos
                      p.price $2,000 / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | 1, 2 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 2 Bathrooms
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available March 1
                    .footer
                      .note.special New Pricing

                .back
                  .header
                    .neighborhood Center City West
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | Penthouse units
                        li
                          i.fa.fa-li.fa-check-circle
                          | In-unit washer & dryer
                        li
                          i.fa.fa-li.fa-check-circle
                          | 24-hour front desk
                        li
                          i.fa.fa-li.fa-check-circle
                          | Pet friendly
                        li
                          i.fa.fa-li.fa-check-circle
                          | Hardwood floors
                      h4.text-center Neighborhood
                      p Visually elegant curb, pet friendly, and steps from Rittenhouse. A total of 53 condo units on 8 floors.
                  .footer
                    .btn-group.btn-group-justified
                      a.btn.viewprop(href="/city/philadelphia/center-city-west/the-belgravia-condos", title="Click to see the Belgravia Condos!") View
                      a.btn.check-availability Check Availability

  +checkAvailability
