template(name="featuredProps")

  section.main-section.featured-props-wrap.clearfix.p-l-0.p-r-0.p-b-0
    .container-fluid.p-b-25

      h2.main-section-title Featured Listings

      .col-xs-12
        .row.featured-props-row

          .col-sm-6.col-md-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon
                      span 1 Month Free
                    img(src="/cfs/files/images/TKaRmFfgc9y3TxLeT/2img_image 2.jpg?store=thumbs", itemprop="image", alt="2040 Market Street")
                  .content
                    .main
                      h3.name AQ Rittenhouse
                      p.price $1710 / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | 1, 2, & 3 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 1-2 Bathroom
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available Now

                    .footer
                      .note.special 1 Month Free on 13-Month Lease

                .back
                  .header
                    .neighborhood Rittenhouse Square
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | Bike storage w/ repair station
                        li
                          i.fa.fa-li.fa-check-circle
                          | Rooftop lounge with firepits
                        li
                          i.fa.fa-li.fa-check-circle
                          | Pet-friendly
                        li
                          i.fa.fa-li.fa-check-circle
                          | Doorman
                        li
                          i.fa.fa-li.fa-check-circle
                          | Exclusive car share program
                      h4.text-center Neighborhood
                      p Brand new luxury building with amazing panoramic views of Rittenhouse. Close to Philly's best shopping, dining & cultural options.
                  .footer
                    .btn-group.btn-group-justified
                      a.btn(href="/city/philadelphia/rittenhouse-square/aq-rittenhouse", title="Click to see AQ Rittenhouse!") View
                      a.btn.check-availability Check Availability


          .col-sm-6.col-md-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon
                      span 1 Month Free
                    img(src="/cfs/files/images/KnepPg5PMYNirKLWs", itemprop="image", alt="1500 Locust")
                  .content
                    .main
                      h3.name 1500 Locust
                      p.price $1484 / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | 1 & 2 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 1-2 Bathrooms
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available Now
                    .footer
                      .note.special 1 Month Free on 12-Month Lease

                .back
                  .header
                    .neighborhood Center City
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | In-unit washer & dryer
                        li
                          i.fa.fa-li.fa-check-circle
                          | 24-hour concierge desk
                        li
                          i.fa.fa-li.fa-check-circle
                          | Heated rooftop indoor pool
                        li
                          i.fa.fa-li.fa-check-circle
                          | Free dance/yoga/pilates classes
                        li
                          i.fa.fa-li.fa-check-circle
                          | Community roof deck
                      h4.text-center Neighborhood
                      p Breathtaking views, a rooftop lounge, & an Olympic size pool - all in a brand new building. Live in Philly's oasis of luxury!
                  .footer
                    .btn-group.btn-group-justified
                      a.btn(href="/city/philadelphia/center-city-west/1500-locust", title="Click to see 1500 Locust St!") View
                      a.btn.check-availability Check Availability


          .col-sm-6.col-md-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon
                      span 1 Month Free
                    img(src="/images/home-bg/living-room.jpg", itemprop="image", alt="Avenir on Fifteenth")
                  .content
                    .main
                      h3.name Avenir on Fifteenth
                      p.price $1,592 / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | Studio, 1, 2 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 1-2 Bathrooms
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available Now
                    .footer
                      .note.special 1 Month Free

                .back
                  .header
                    .neighborhood Center City
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | Full-time concierge
                        li
                          i.fa.fa-li.fa-check-circle
                          | Stainless steel appliances
                        li
                          i.fa.fa-li.fa-check-circle
                          | Indoor bike storage
                        li
                          i.fa.fa-li.fa-check-circle
                          | In-unit washer & dryer
                        li
                          i.fa.fa-li.fa-check-circle
                          | Fitness center
                      h4.text-center Neighborhood
                      p Beautiful new Center City Philly apartments, just blocks from Rittenhouse Square!
                  .footer
                    .btn-group.btn-group-justified
                      a.btn(href="/city/philadelphia/rittenhouse-square/avenir-on-15th", title="Click to see Avenir on Fifteenth!") View
                      a.btn.check-availability Check Availability


          .col-sm-6.col-md-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon.hidden
                      span
                    img(src="/images/home-bg/living-room2.jpg", itemprop="image", alt="Belgravia Condos")
                  .content
                    .main
                      h3.name The Belgravia Condos
                      p.price $2,000 / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | 1, 2 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 2 Bathrooms
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available March 1
                    .footer
                      .note.special New Pricing

                .back
                  .header
                    .neighborhood Center City West
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | Penthouse units
                        li
                          i.fa.fa-li.fa-check-circle
                          | In-unit washer & dryer
                        li
                          i.fa.fa-li.fa-check-circle
                          | 24-hour front desk
                        li
                          i.fa.fa-li.fa-check-circle
                          | Pet friendly
                        li
                          i.fa.fa-li.fa-check-circle
                          | Hardwood floors
                      h4.text-center Neighborhood
                      p Visually elegant curb, pet friendly, and steps from Rittenhouse. A total of 53 condo units on 8 floors.
                  .footer
                    .btn-group.btn-group-justified
                      a.btn(href="/city/philadelphia/center-city-west/the-belgravia-condos/806", title="Click to see the Belgravia Condos!") View
                      a.btn.check-availability Check Availability

  +checkAvailability
  
