template(name="featuredProps")

  section.featured-props-wrap.clearfix
    .container

      h2.main-section-title Featured Listings

      .col-xs-12
        .row

          .col-sm-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon
                      span 2 Months Free!
                    img(src="/images/home-bg/homepage-img.jpg", itemprop="image", alt="Featured Property")
                  //-.user
                  //-  img(src="/images/testimonials/david.png", itemprop="image", alt="")
                  .content
                    .main
                      h3.name 2040 Market Street
                      p.price $1650 / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | 2 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 2 Bathrooms
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available Feb 1

                    .footer
                      .note.special 2 Months Free

                .back
                  .header
                    .neighborhood Center City
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | Elevator
                        li
                          i.fa.fa-li.fa-check-circle
                          | Stainless steel appliances
                        li
                          i.fa.fa-li.fa-check-circle
                          | Cat-friendly
                        li
                          i.fa.fa-li.fa-check-circle
                          | Dog-friendly
                        li
                          i.fa.fa-li.fa-check-circle
                          | Granite counter tops
                      h4.text-center Neighborhood
                      p Located in the heard of Center City Philadelphia, this building is great for many reasons!
                  .footer
                    .btn-group.btn-group-justified
                      a.btn View
                      a.btn.check-availability Check Availability


          .col-sm-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon
                      span Rate Just Lowered!
                    img(src="/images/home-bg/philly2.png", itemprop="image", alt="Featured Property")
                  //-.user
                  //-  img(src="/images/testimonials/chloe.png", itemprop="image", alt="")
                  .content
                    .main
                      h3.name AQ Rittenhouse
                      p.price $1700 / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | 1 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 1 Bathroom
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available Jan 20
                    .footer
                      .note.special No application fee!

                .back
                  .header
                    .neighborhood South Philadelphia
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | Elevator
                        li
                          i.fa.fa-li.fa-check-circle
                          | Stainless steel appliances
                        li
                          i.fa.fa-li.fa-check-circle
                          | Cat-friendly
                        li
                          i.fa.fa-li.fa-check-circle
                          | Granite counter tops
                        li
                          i.fa.fa-li.fa-check-circle
                          | Community roof deck
                      h4.text-center Neighborhood
                      p Located in the heard of Center City Philadelphia, this building is great for many reasons!
                  .footer
                    .btn-group.btn-group-justified
                      a.btn View
                      a.btn.check-availability Check Availability


          .col-sm-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon
                      span 6 Month Lease
                    img(src="/images/home-bg/living-room.jpg", itemprop="image", alt="Featured Property")
                  //-.user
                  //-  img(src="/images/testimonials/kirstin.png", itemprop="image", alt="")
                  .content
                    .main
                      h3.name 1300 Chestnut Street
                      p.price $1,980 / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | 2 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 3 Bathrooms
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available Feb 1
                    .footer
                      .note.special 2 Months Free

                .back
                  .header
                    .neighborhood Center City West
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | Elevator
                        li
                          i.fa.fa-li.fa-check-circle
                          | Stainless steel appliances
                        li
                          i.fa.fa-li.fa-check-circle
                          | Cat-friendly
                        li
                          i.fa.fa-li.fa-check-circle
                          | Dog-friendly
                        li
                          i.fa.fa-li.fa-check-circle
                          | Granite counter tops
                      h4.text-center Neighborhood
                      p Located in the heard of Center City Philadelphia, this building is great for many reasons!
                  .footer
                    .btn-group.btn-group-justified
                      a.btn View
                      a.btn Check.check-availability Availability


          .col-sm-4.col-lg-3
            .card-container
              .card
                .front
                  .cover
                    .ribbon
                      span 1 Month Free
                    img(src="/images/home-bg/living-room2.jpg", itemprop="image", alt="Featured Property")
                  //-.user
                  //-  img(src="/images/testimonials/ruth.png", itemprop="image", alt="")
                  .content
                    .main
                      h3.name 1300 Chestnut Street
                      p.price $1,980 / mo.
                      h5
                        i.fa.fa-bed.fa-fw
                        | 2 Bedrooms
                      h5
                        img.bath-icon(src="/images/bath.svg")
                        | 2 Bathrooms
                      h5
                        i.fa.fa-calendar.fa-fw
                        | Available Feb 1
                    .footer
                      .note.special 2 Months Free

                .back
                  .header
                    .neighborhood Center City West
                  .content
                    .main
                      h4.text-center Amenitites
                      ul.fa-ul
                        li
                          i.fa.fa-li.fa-check-circle
                          | Elevator
                        li
                          i.fa.fa-li.fa-check-circle
                          | Cat-friendly
                        li
                          i.fa.fa-li.fa-check-circle
                          | Dog-friendly
                        li
                          i.fa.fa-li.fa-check-circle
                          | Granite counter tops
                        li
                          i.fa.fa-li.fa-check-circle
                          | Community roof deck
                      h4.text-center Neighborhood
                      p Located in the heard of Center City Philadelphia, this building is great for many reasons!
                  .footer
                    .btn-group.btn-group-justified
                      a.btn View
                      a.btn.check-availability Check Availability

  +checkAvailability(building=building)