template(name="featuredProps")

  section.featured-props-wrap.clearfix

    h2.main-section-title Featured Listings

    .col-xs-12
      .row

        .col-sm-4.col-lg-3
          .card-container
            .card
              .front
                .cover
                  img(src="#", itemprop="image", alt="Featured Property")
                .user
                  img(src="#", itemprop="image", alt="")
                .content
                  .main
                    h3.name 2040 Market Street
                    p.price $1650 / mo.
                    h5
                    i.fa.fa-map-marker.fa-fw
                    | Philadelphia, PA
                    h5
                    i.fa.fa-bed.fa-fw
                    | 2 Bedrooms
                    h5
                    i.fa.fa-calendar.fa-fw
                    | Available Feb 1

                  .footer
                    .note.special 2 Months Free

              .back
                .header
                  .motto
                .content
                  .main
                    h4.text-center Amenitites
                    p Lorem ipsum est ergo centennium alter urn et.
                    h4.text-center Neighborhood
                    p Located in the heard of Center City Philadelphia, this building is great for many reasons!
                .footer
                  .action-links.text-center
                    a(href="#", itemprop="url")
                      i.fa.fa-fw.fa-pencil
                    a(href="#", itemprop="url")
                      i.fa.fa-fw.fa-pencil
                    a(href="#", itemprop="url")
                      i.fa.fa-fw.fa-pencil


        .col-sm-4.col-lg-3
          .card-container
            .card
              .front
                .cover
                  img(src="#", itemprop="image", alt="Featured Property")
                .user
                  img(src="#", itemprop="image", alt="")
                .content
                  .main
                    h3.name AQ Rittenhouse
                    p.price $1700 / mo.
                    h5
                    i.fa.fa-map-marker.fa-fw
                    | Philadelphia, PA
                    h5
                    i.fa.fa-bed.fa-fw
                    | 1 Bedrooms
                    h5
                    i.fa.fa-calendar.fa-fw
                    | Available Jan 20
                  .footer
                    .note.special No application fee!

              .back
                .header
                  .motto
                .content
                  .main
                    h4.text-center Amenitites
                    p Lorem ipsum est ergo centennium alter urn et.
                    h4.text-center Neighborhood
                    p Located in the heard of Center City Philadelphia, this building is great for many reasons!
                .footer
                  .action-links.text-center
                    a(href="#", itemprop="url")
                      i.fa.fa-fw.fa-pencil
                    a(href="#", itemprop="url")
                      i.fa.fa-fw.fa-pencil
                    a(href="#", itemprop="url")
                      i.fa.fa-fw.fa-pencil


        .col-sm-4.col-lg-3
          .card-container
            .card
              .front
                .cover
                  img(src="#", itemprop="image", alt="Featured Property")
                .user
                  img(src="#", itemprop="image", alt="")
                .content
                  .main
                    h3.name 1300 Chestnut Street
                    p.price $1,980 / mo.
                    h5
                    i.fa.fa-map-marker.fa-fw
                    | Philadelphia, PA
                    h5
                    i.fa.fa-bed.fa-fw
                    | 2 Bedrooms
                    h5
                    i.fa.fa-calendar.fa-fw
                    | Available Feb 1
                  .footer
                    .note.special 2 Months Free

              .back
                .header
                  .motto
                .content
                  .main
                    h4.text-center Amenitites
                    p Lorem ipsum est ergo centennium alter urn et.
                    h4.text-center Neighborhood
                    p Located in the heard of Center City Philadelphia, this building is great for many reasons!
                .footer
                  .action-links.text-center
                    a(href="#", itemprop="url")
                      i.fa.fa-fw.fa-pencil
                    a(href="#", itemprop="url")
                      i.fa.fa-fw.fa-pencil
                    a(href="#", itemprop="url")
                      i.fa.fa-fw.fa-pencil

