// Entire Container, Keeps Perspective
.card-container
  -webkit-perspective 800px
  -moz-perspective 800px
  -o-perspective 800px
  perspective 800px
  margin-bottom 30px

// Flip the pane when hovered
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
	-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card-container.static:hover .card, 
.card-container.static.hover .card {
	-webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}
// flip speed goes here
.card {
	 -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
}

// hide back of pane during swap
.front,
.back
  -webkit-backface-visibility hidden
  -moz-backface-visibility hidden
  -o-backface-visibility hidden
  backface-visibility hidden
  position absolute
  top 0
  left 0
  background-color #FFF
  @media screen and (min-width: 768px)
    box-shadow 0 12px 20px -8px rgba(0,0,0,0.25)

// Front pane, placed above back
.front
  z-index 2

// Back, initially hidden pane
.back
  -webkit-transform rotateY( 180deg )
  -moz-transform rotateY( 180deg )
  -o-transform rotateY( 180deg )
  transform rotateY( 180deg )
  z-index 3

  h5
    margin 10px 0 5px

.card-container,
.front,
.back 
  width 100%
  height 360px
  border-radius 10px

.card
  background none repeat scroll 0 0 #FFF
  color #444

  .cover
    height 138px
    overflow hidden
    border-radius 10px 10px 0 0

    img
      width 100%

  .user
    display none // Hiding b/c we aren't using this image currently, but may in the future.
    border-radius 50%
    display block
    height 120px
    margin -55px auto 0
    overflow hidden
    width 120px

    img
      background none repeat scroll 0 0 #FFFFFF
      border 4px solid #FFFFFF
      width 100%

  .content
    background-color transparent
    box-shadow none
    padding 0 15px
    @media screen and (min-width: 768px)
      padding 0 20px

    .main
      min-height 140px

      i 
        margin-right 10px

  .back .content .main
    height 215px
    .fa-ul
      font-size 13px
      .fa-li
        top 5px

  .name
    font-size 22px
    line-height 28px
    margin 10px 0 0
    text-align center
    text-transform capitalize

  h5
    margin 6px 0
    font-weight 400
    line-height 20px

  .price
    background-color #5cb85c
    border-radius 15px
    color #fff
    font-size 15px
    font-weight bold
    line-height 1
    text-align center
    margin 5px auto 15px
    max-width 120px
    padding 5px 2px

  .footer 
    border-top 1px solid #EEEEEE
    color #999999
    padding 10px 0
    text-align center
    width 100%
    position absolute
    bottom 0
    left 0

    .action-links
      font-size 18px

      a
        margin: 0 7px

    .btn-simple
      margin-top -6px

  .header
    padding 15px 10px 0

  .neighborhood
    border-bottom 1px solid #EEEEEE
    color #999999
    font-size 14px
    font-weight 400
    padding-bottom 10px
    text-align center
    text-transform uppercase

// Fix bug for IE
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;    
        backface-visibility: visible;
    }
    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front {
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}