template(name="quickView")
  .container   
    .row
      .col-lg-8
        h1 Rental Application
      .col-lg-4
        .application-dates
          .pull-right
            i.fa.fa-clock-o
            | Created on: {{getReadableLongDate createdAt}}
            br
            i.fa.fa-undo
            a#application-revisions(href="#rental-application-show-revisions", data-toggle="modal") #{rentalApplicationRevisionsCount} Revisions
      .col-lg-12
        #filter-wrapper.form-inline
          .form-group
            select.form-control.select-city(data-column="2")
              option.reset(value="") Filter by city
              each cities
                option(value="#{key}") {{value}}
          btn.reset.btn.btn-info Reset search

        if buildingsReady
          table#quick-view-table.table
            thead
              tr
                th(data-sorter="false")
                th Building
                th City
                th Unit
                th Beds
                th Bathrooms
                th Sqft
                th Entry
                th Laundry
                th Available
                th Price
            tbody
              each buildings
                tr
                  +quickViewBuilding
                each children
                  tr.tablesorter-childRow
                    +quickViewBuilding
        else
          h1.text-center
            i.fa.fa-spin.fa-spinner    

template(name="quickViewBuilding")
  if isParent
    td
      a.toggle-units(href="#")
        i.fa.fa-plus-square-o
  else
    td
  td
    a(href="{{pathFor route='building' data=processedRouteData}}") {{title}}
  td {{cityId}}
  td {{unitCount}}
  td {{getBedrooms}}
  td {{getBathrooms}}
  td {{getSqft}}
  td {{securityValue}}
  td {{laundryValue}}
  td {{availableAtFormatted}}
  td {{displayBuildingPrice}}