#filter-wrapper
  margin-bottom 15px

#quick-view-table
  tr td
    text-align center
    vertical-align middle
    &:nth-child(2)
      text-align left
  .tablesorter-hasChildRow
    background: #EEE
  .tablesorter-childRow
    td
      display none
    td:nth-child(2) a
      margin-left 15px
  tr th:nth-child(4), tr td:nth-child(4),
  tr th:nth-child(5), tr td:nth-child(5)
    display none !important
  a.toggle-units
    color #000