template(name="quickView")
  .container   
    .row
      .col-lg-12
        h1 Buildings Quick View
        #filter-wrapper.form-inline
          .form-group
            select.form-control.filter(data-column="3")
              option.reset(value="") City
              each cities
                option(value="#{key}") {{value}}
          .form-group
            select.form-control.filter(data-column="4")
              option.reset(value="") Beds
              each btypes
                option(value="#{key}") {{value}}
          btn.reset.btn.btn-info Reset search

        if buildingsReady
          table#quick-view-table.table
            thead
              tr
                th(data-sorter="false")
                th Building
                th Unit
                th Btypes
                th City
                th Beds
                th Baths
                th Sqft
                th Entry
                th Laundry
                th Available
                th Price
            tbody
              each buildings
                tr.tablesorter-hasChildRow
                  +quickViewBuilding
                each children
                  tr.tablesorter-childRow
                    +quickViewBuilding
        else
          h1.text-center
            i.fa.fa-spin.fa-spinner    

template(name="quickViewBuilding")
  if isParent
    td
      if hasChildren
        a.toggle-units(href="#")
          i.fa.fa-plus-square-o
    td
      a(href="{{pathFor route='building' data=processedRouteData}}") {{title}}
    td
  else
    td
    td
      a(href="{{pathFor route='building' data=processedRouteData}}") {{../title}}
    td {{title}}  
  td {{cityId}}
  td {{btype}}
  td {{bedroomTypes ../queryBtype}}
  td {{bathrooms}}
  td {{getSqft}}
  td {{securityValue}}
  td {{laundryValue}}
  td {{availableAtFormatted}}
  td {{displayBuildingPrice ../queryBtype}}