<div id="scrollBoxContent" class="animated" style="max-width: 500px; border-top: 10px solid #49a7f5; font-family: 'Open Sans', 'Montserrat', Helvetica, sans-serif !important; padding: 10px 22px 15px;">
    <img src="https://noochme.com/noochweb/Assets/Images/rentscene.png" style="margin: 12px auto; display: block; max-width: 70%;" />

    <h3 id="formHeader" class="text-center m-b-25" style="font-family: 'Montserrat', Open Sans, Helvetica, Arial, sans-serif;">
        Don't Miss Out!
        <small class="show m-t-15" style="font-size:70%;">New Listing Alerts & Price Changes</small>
    </h3>

    <div class="p-15 m-b-10" id="bodyBox" style="background: rgba(76,196,5,1); color: #fff; border-radius: 5px; text-shadow: 0 1px 0px rgba(0,0,0,.2); font-weight: 300;">
        <p class="m-0 text-center" style="font-size: 15px; line-height: 1.5; /* font-weight: 500; */">
            Signup to receive notifications on new listings that meet your criteria and receive price updates for units you're interested in.
        </p>
    </div>

    <form action="https://www.noochme.com/CampaignServices/api/Services/SaveNewEmailForLandlordsApp" method="post" id="subscribeForm" name="mc-embedded-subscribe-form" class="validate" target="testIframe" novalidate>
        <div class="form-group mc-field-group">
            <input type="email" name="Email" id="mce-EMAIL" class="form-control" placeholder="email@example.com" style="text-align: center; height: 48px; font-size: 18px; border-radius: 5px; margin-bottom:10px;" required maxlength="40" />
        </div>

        <!--<div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display: none"></div>
            <div class="response" id="mce-success-response" style="display: none"></div>
        </div>
        real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_1abfea8d82baa679faa70055a_4ff26e9bef" tabindex="-1" value="" />
        </div>

        <div class="clear" style="position:relative; color: #fff;">
            <input type="hidden" name="Note1" value="Rent Scene Website" />
            <input type="submit" name="subscribe" value="Submit" id="mc-embedded-subscribe" class="btn btn-primary" style="width: 100%; padding: 11px 10px; background: #4588fa; color: #fff; display: block; text-align: center; border-color: #327cf9; border-radius: 5px; font-size: 18px; font-weight: 400;text-shadow: 0 0px 20px rgba(19,44,64,.4)" />
            <i class="fa fa-spin fa-refresh m-l-10 loading" style="display: none;font-family: 'FontAwesome'; font-size: 19px; font-style: normal; position: absolute;top: 15px; right: 26%; text-shadow: 0 0px 20px rgba(19,44,64,.4)"></i>
            <i class="fa fa-caret-right" style="font-family: 'FontAwesome'; font-size: 19px; font-style: normal; position: absolute;top: 15px; right: 35%; text-shadow: 0 0px 20px rgba(19,44,64,.4)"></i>
        </div>

    </form>

    <iframe id="testIframe" name="testIframe" height="1" width="1" style="visibility: hidden; float: right;"></iframe>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
  $('#mc-embedded-subscribe').click(function() {
    $(this).val("Submitting...");
    $('#scrollBoxContent .fa-caret-right').hide();
    $('#scrollBoxContent .loading').show();

    fbq("track", "Lead", {
      content_category: "ScrollBox",
      value: 5.0,
      currency: 'USD'
    });

    setTimeout(function() {
      $('#sumome-modal-mask').fadeOut(500);
      $('.sumome-scrollbox-popup').fadeOut(500);

      swal({
        title: "Welcome Aboard!",
        text: "Our team is dedicated to finding you an apartment you will love. &nbsp;When you see a unit you like, let us know and we'll check the availability, schedule tours, answer building or neighborhood questions, and even handle your application and payments.",
        type: "success",
        showCancelButton: false,
        confirmButtonColor: "#4588fa",
        confirmButtonText: "Great!",
        html: true,
      });

    }, 1000);
  })
</script>