template(name="tourSignup")
	#page-content
		h1.uk-article-title Welcome Weekend Tour Signup
		#wufoo-zz0uh841gfknpw
		script(type="text/javascript")
			| var zz0uh841gfknpw;(function(d, t) {
			| var s = d.createElement(t), options = {
			| 'userName':'therentscene', 'formHash':'zz0uh841gfknpw',
			| 'autoResize':true, 'height':'1026',
			| 'async':true, 'host':'wufoo.com',
			| 'header':'show',
			| 'ssl':true };
			| s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
			| s.onload = s.onreadystatechange = function() {
			| var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			| try { zz0uh841gfknpw = new WufooForm();zz0uh841gfknpw.initialize(options);zz0uh841gfknpw.display(); } catch (e) {}};
			| var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			| })(document, 'script');
