template(name="layout")
  .page-wrapper(class="{{#if isHomePage}}home-page{{/if}}")
    //-+connection
    +yield(region="header")
    main.clearfix
      +yield
    +yield(region="footer")
  #fb-root
