head
  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="keywords", content="rent, rental, apartment, home, bedroom, bathroom, lease condo, condominium, philadelphia, chicago, boston, washington dc, rittenhouse square, parking, gym, fitness, utilities, pets")
  meta(name="description", content="Rent Scene helps you find a great place to live. Search for apartments and condos in Philadelphia, Washington DC, Chicago, and other major cities.")
  link(rel="icon" href="/favicon.ico")
  <!--[if lt IE 9]>script(src="/js/html5shiv.js")<![endif]-->
  <!--[if lt IE 9]>script(src="/js/respond.min.js")<![endif]-->
  script(src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry", type="text/javascript")
  script.
    (function(i,s,o,g,r,a,m){i["gaObject"]=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,"script","//www.google-analytics.com/analytics.js","ga");
  link(href="//fonts.googleapis.com/css?family=Raleway", rel="stylesheet", type="text/css")
  link(href="//fonts.googleapis.com/css?family=Montserrat", rel="stylesheet", type="text/css")
  <!-- Go to www.addthis.com/dashboard to customize your tools -->


template(name="layout")


  script(id="socialButtonsScript" type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54e2f93b298db98f" async="async")
  .page-wrapper(class="{{#if isHomePage}}home-page{{/if}}")
    //+connection
    +yield(region="header")
    main
      +yield
    +yield(region="footer")
  #fb-root
//js API script'a
  2 init:
  while script loading : onLoad or snth like that
  in template social: init on this template
  is addThis present on the page (to be sure, that script init succeded )