body
  font-family 'Raleway', Helvetica, sans-serif
  font-size 14.5px
  background #fff
  color #444
  margin 0
  padding 0
  width 100%

main
  margin 70px 0 0

.content-wrapper
  padding 20px

a
  color #4588fa
  
  > .fa
    margin-left 6px
	margin-right 6px

button > .fa
  margin-right 6px

.btn .fa
  margin-right 4px

a.carousel-control .fa
  margin-left 0
  margin-right 0

.mb0
  margin-bottom 0
  
.mt15
  margin-top 15px
  
.m-0
  margin: 0px !important
.m-t-0
  margin-top: 0px !important
.m-r-0
  margin-right: 0px !important
.m-b-0
  margin-bottom: 0px !important
.m-l-0
  margin-left: 0px !important
  
.m-5
  margin: 5px !important
.m-t-5
  margin-top: 5px !important
.m-r-5
  margin-right: 5px !important
.m-b-5
  margin-bottom: 5px !important
.m-l-5
  margin-left: 5px !important
  
.m-10
  margin: 10px !important
.m-t-10
  margin-top: 10px !important
.m-r-10
  margin-right: 10px !important
.m-b-10
  margin-bottom: 10px !important
.m-l-10
  margin-left: 10px !important
  
.m-15
  margin: 15px !important
.m-t-15
  margin-top: 15px !important
.m-r-15
  margin-right: 15px !important
.m-b-15
  margin-bottom: 15px !important
.m-l-15
  margin-left: 15px !important
  
.m-20
  margin: 20px !important
.m-t-20
  margin-top: 20px !important
.m-r-20
  margin-right: 20px !important
.m-b-20
  margin-bottom: 20px !important
.m-l-20
  margin-left: 20px !important
  
.m-25
  margin: 25px !important
.m-t-25
  margin-top: 25px !important
.m-r-25
  margin-right: 25px !important
.m-b-25
  margin-bottom: 25px !important
.m-l-25
  margin-left: 25px !important

.p-0
  padding: 0px !important
.p-t-0
  padding-top: 0px !important
.p-r-0
  padding-right: 0px !important
.p-b-0
  padding-bottom: 0px !important
.p-l-0
  padding-left: 0px !important
  
.m-5
  padding: 5px !important
.m-t-5
  padding-top: 5px !important
.m-r-5
  padding-right: 5px !important
.m-b-5
  padding-bottom: 5px !important
.m-l-5
  padding-left: 5px !important
  
.p-10
  padding: 10px !important
.p-t-10
  padding-top: 10px !important
.p-r-10
  padding-right: 10px !important
.p-b-10
  padding-bottom: 10px !important
.p-l-10
  padding-left: 10px !important
  
.p-15
  padding: 15px !important
.p-t-15
  padding-top: 15px !important
.p-r-15
  padding-right: 15px !important
.p-b-15
  padding-bottom: 15px !important
.p-l-15
  padding-left: 15px !important
  
.p-20
  padding: 20px !important
.p-t-20
  padding-top: 20px !important
.p-r-20
  padding-right: 20px !important
.p-b-20
  padding-bottom: 20px !important
.p-l-20
  padding-left: 20px !important
  
.p-25
  padding: 25px !important
.p-t-25
  padding-top: 25px !important
.p-r-25
  padding-right: 25px !important
.p-b-25
  padding-bottom: 25px !important
.p-l-25
  padding-left: 25px !important