body
  font-family 'Raleway', Helvetica, sans-serif
  font-size 14px
  background #fff
  color #555
  margin 0
  padding 0
  width 100%
  height 100%

.page-wrapper
  background url(/images/homepage-img.jpg) no-repeat center top
  background-size cover
  width 100%
  height 960px
  position absolute

main
  width 100%
  height 100%
  margin 70px 0 0

.head-section-wrap
  position relative
  width 100%
  height 890px

.head-section
  width 1280px
  margin 0 auto
  text-align center
  padding 50px 30px 0
  box-sizing border-box

.head-section-title
  font-family 'Montserrat', Helvetica, sans-serif
  font-size 46px
  font-weight bold
  text-transform uppercase
  color #fff
  margin 0
  padding 20px 0

.main-desc
  width 820px
  display inline-block
  color #fff
  font-size 24px
  margin 0
  padding 0

.select-city-wrap
  margin 40px 0 0
  position relative

.select-city-shadow
  width 330px
  height 60px
  background rgba(0, 0, 0, .3)
  border-radius 5px
  display inline-block
  position relative

.select-city
  font-family 'Montserrat', Helvetica, sans-serif
  font-size 16px
  display inline-block
  background-color #4588fa
  color #fff
  padding 15px
  width 320px
  border-radius 5px
  box-sizing border-box
  text-align left
  position absolute
  top 5px
  left 5px
  &:after
    content "\25BC"
    display inline-block
    float right

.city-list
  background #fff
  width 320px
  border-radius 5px
  margin 0 auto
  text-align left

.city-item
  padding 15px
  font-family 'Montserrat', Helvetica, sans-serif
  font-size 16px
  color #555
  display block
  text-decoration none
  &:hover
    background-color #4588fa
    color #fff
    text-decoration none
    &:first-child
      border-radius 5px 5px 0 0
    &:last-child
      border-radius 0 0 5px 5px

.more-info
  position absolute
  left 20px
  bottom 20px
  display block
  text-align left
  color #fff
  font-family 'Montserrat', Helvetica, sans-serif
  font-size 14px
  text-decoration none
  &.active, &:hover
    color #ffcc33
    text-decoration none
  &:before
    content ""
    background url(/images/scroll-icon.png) no-repeat left center
    display inline-block
    width 22px
    height 36px
    vertical-align middle
    padding 0 15px 0 0

.testimonials-wrap
  background #ececec
  width 100%
  min-height 510px

.testimonials
  width 1280px
  margin 0 auto
  padding 60px 0
  text-align center
  overflow hidden

article
  float left
  margin 0 20px 0 0

blockquote
  border 1px solid #c7c7c7
  border-radius 5px
  background #fff
  width 290px
  min-height 290px
  padding 20px
  box-sizing border-box
  margin 0 0 15px
  text-align left
  font-size 12px
  line-height 20px
  position relative
  &:after
    position absolute
    bottom -13px
    left 50%
    display inline-block
    content "\25BC"
    color #fff
    text-shadow 0 2px 2px rgba(0, 0, 0, 0.3)

.quote-desc
  padding 0
  margin 0

.quote-author
  position absolute
  bottom 10px
  font-weight bold
  font-family 'Montserrat', Helvetica, sans-serif
  box-sizing border-box

.quote-author-link
  font-family 'Raleway', Helvetica, sans-serif
  color #cc9900
  display block
  padding 0
  text-decoration none

.footer-section
  clear both

