head
  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="keywords", content="rent, rental, apartment, landlord, tenant, home, bedroom, bathroom, lease, condo, condominium, philadelphia, center city, chicago, washington dc, rittenhouse square, parking, gym, utilities, pets")
  meta(name="description", content="Rent Scene finds the best apartments that fit your lifestyle. Our dedicated local experts manage the entire search process for you, making sure you love your new home.")
  link(href="//fonts.googleapis.com/css?family=Raleway:300,400,600", rel="stylesheet", type="text/css")
  link(href="//fonts.googleapis.com/css?family=Montserrat", rel="stylesheet", type="text/css")
  link(rel="icon" href="/favicon.ico")
  <!--[if lt IE 9]>script(src="/js/html5shiv.js")<![endif]-->
  <!--[if lt IE 9]>script(src="/js/respond.min.js")<![endif]-->
  script(src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry", type="text/javascript")

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  <!--script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54e2f93b298db98f" async="async" domready="domready")-->
  script(src="//load.sumome.com/" data-sumo-site-id="ee9749bcaadfd010dd1ddc0db3e0c6b39a74e35875f38b14ef4d9f24eb27701e" async="async")
  <!-- Facebook Pixel Code -->
  script.
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n; n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js');fbq('init', '652694488206241');fbq('track', "PageView");
  noscript
    img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=652694488206241&ev=PageView&noscript=1")
  <!-- End Facebook Pixel Code -->
