.btn-primary
  background-color #4588fa
  font-weight bold
  &:hover
    background-color #337ab7

.btn-lg,
.btn-group-lg > .btn
  text-shadow 0 -1px 0px rgba(0,0,0,.25)
  @media screen and (min-width: 768px)
    text-shadow 0 -2px 0px rgba(0,0,0,.2)

.is-not-published
  background-color rgba(200, 200, 200, 0.6)
