template(name="cityHeader")
  .city-sub-header.clearfix
    .filter-wrap
      .city-select.city-sub-header-list-wrap.dropdown.city-filter
        button.city-sub-header-title.dropdown-toggle.btn.btn-default
          i.fa.fa-globe
          span.button-text {{currentCity}}
          span.caret
        ul.city-sub-header-list.dropdown-menu.list-unstyled
          each cities
            li.city-sub-header-item(data-value="{{key}}") {{value}}
      .bedroom-type-select.city-sub-header-list-wrap.dropdown.city-filter
        button.city-sub-header-title.dropdown-toggle.btn.btn-default
          i.fa.fa-bed
          span.button-text {{currentBedroomType}}
          span.caret
        ul.city-sub-header-list.dropdown-menu.list-unstyled
          li.city-sub-header-item(data-value="") Any
          each btypes
            li.city-sub-header-item(data-value="{{key}}") {{value}}
    +cityHeaderSlider
    .col-sm-1
      .dropdown.city-filter.features-wrap
        button.features-btn.dropdown-toggle.btn.btn-default(type="button")
          i.fa.fa-check
          | Features
        form.form-building-features-filter.features-section.dropdown-menu
          h3.filter-title
            | Filter the search results by the criteria that you need, in order to find your best apartment!
          ul.filter-list.list-unstyled.clearfix
            li.checkbox-wrap.col-md-6
              input#security.css-checkbox(type="checkbox", name="security", value="true", checked="{{query.security}}")
              label.css-label(for="security")
                | Doorman
            li.checkbox-wrap.col-md-6
              input#fitnessCenter.css-checkbox(type="checkbox", name="fitnessCenter", value="true", checked="{{query.fitnessCenter}}")
              label.css-label(for="fitnessCenter")
                | Fitness Center
            li.checkbox-wrap.col-md-6
              input#pets.css-checkbox(type="checkbox", name="pets", value="true", checked="{{query.pets}}")
              label.css-label(for="pets")
                | Pet friendly
            //li.checkbox-wrap.col-md-6
            //  input#managedBuildings.css-checkbox(type="checkbox", value="true")
            //  label.css-label(for="managedBuildings")
            //    | Managed buildings
            //li.checkbox-wrap.col-md-6
            //  input#brownstone.css-checkbox(type="checkbox", value="true")
            //  label.css-label(for="brownstone")
            //    | Brownstone
            li.checkbox-wrap.col-md-6
              input#loundry.css-checkbox(type="checkbox", name="laundry", value="true", checked="{{query.laundry}}")
              label.css-label(for="loundry")
                | Loundry In-unit
            li.checkbox-wrap.col-md-6
              input#parking.css-checkbox(type="checkbox", name="parking", value="true", checked="{{query.parking}}")
              label.css-label(for="parking")
                | Parking
            li.checkbox-wrap.col-md-6
              input#utilities.css-checkbox(type="checkbox", name="utilities", value="true", checked="{{query.utilities}}")
              label.css-label(for="utilities")
                | Utilities inclided
            //li.checkbox-wrap.col-md-6
            //  input#listings.css-checkbox(type="checkbox", name="listings", value="true", checked="{{query.listings}}")
            //  label.css-label(for="listings")
            //    | Private listings
          label.city-features-date
            | Availible from/before
            +datepicker(name="available" value=query.available)
          button.btn.btn-primary.apply-changes-btn(type="submit")
            | Apply Changes
          span.clear-btn.form-building-features-filter-reset
            | Clear Filter
    .col-sm-2
      .dropdown.city-filter.features-wrap
        button.features-btn.dropdown-toggle.btn.btn-default(type="button")
          i.fa.fa-check
          | Favourite Location
        form.form-building-filter.filter-section.dropdown-menu
          h3.filter-title
            | Enter your most common  destination (work, school, etc) to find appartments close to it.
          ul.filter-list.list-unstyled.clearfix
            input#address.form-control(type="text", name="address", placeholder="Destination Address", value="{{getDestination}}")
          .row.selectArrivalTime
            .col-md-6
              .dropdown
                button.dropdown-toggle.btn.btn-default(type="button", aria-expanded="false")
                  | {{arrivalTime}}
                ul.dropdown-menu.option(role="menu")       
                  li#10m.selectTime
                    a(href="#")
                     | Less than 10min
                  li#20m.selectTime
                    a(href="#")
                     | Less than 20min
                  li#30m.selectTime
                    a(href="#")
                     | Less than 30min
            .col-md-6
              .row
                .col-md-3.travelMode#walker
                  if condition travelMode 'is' 'walking'
                    img(src="/images/walk-active.png")
                  else
                    img(src="/images/walk.png")
                .col-md-3.travelMode#car
                  if condition travelMode 'is' 'driving'
                    img(src="/images/car-active.png")
                  else
                    img(src="/images/car.png")
                .col-md-3.travelMode#bike
                  if condition travelMode 'is' 'bicycling'
                    img(src="/images/bike-active.png")
                  else
                    img(src="/images/bike.png")

          .row
            .col-md-6
              button.btn.btn-primary.apply-changes-btn(type="submit")
                | Apply Changes
            .col-md-6
              span.clear-btn.form-building-address-filter-reset
                | Clear Filter

    if canOperateWithBuilding
      .filter-wrap.building-title-search-wrapper
        input.building-title-search.form-control(type="text", placeholder="Search by title", value="{{query.q}}")
