template(name="cityHeader")
  .city-sub-header.clearfix

    .row
      .col-sm-2.city-select.city-sub-header-list-wrap.dropdown.city-filter
        button.city-sub-header-title.dropdown-toggle.btn.btn-default(type="button", data-toggle="dropdown")
          i.fa.fa-globe
          span.button-text {{currentCity}}
          span.caret
        ul.city-sub-header-list.dropdown-menu.list-unstyled
          each cities
            li.city-sub-header-item(data-value="{{key}}") {{value}}

      .col-sm-2.neighborhood-select.city-sub-header-list-wrap.dropdown.city-filter
        i.fa.fa-map-signs
        a.clear-neighborhood-filter(href="{{pathFor 'city' cityId=cityId}}")
          i.fa.fa-times
        input.form-control.typeahead(type="text", placeholder="Search neighborhood", autocomplete="false", data-source="neighborhoodSearch", data-selected="selectedNeighborhood", data-min-length="0", data-limit="9", data-template="neighborhoodSuggestion", value="{{currentNeighborhood}}")

      .col-sm-2.bedroom-type-select.city-sub-header-list-wrap.dropdown.city-filter
        button.city-sub-header-title.dropdown-toggle.btn.btn-default(type="button", data-toggle="dropdown")
          i.fa.fa-bed
          span.button-text.hide-sm {{currentBedroomType}}
          span.caret
        ul.city-sub-header-list.dropdown-menu.list-unstyled
          li.city-sub-header-item(data-value="") Any
          each btypes
            li.city-sub-header-item(data-value="{{key}}") {{value}}

      +cityHeaderSlider

      .col-sm-1.p-l-5
        .dropdown.city-filter.features-wrap
          button.features-btn.dropdown-toggle.btn.btn-default(type="button", data-toggle="dropdown")
            i.fa.fa-check
            span.hide-sm Features
          form.form-building-features-filter.features-section.dropdown-menu.dropdown-menu-right
            h3.filter-title
              | Filter the search results by the criteria you need.
            ul.filter-list.list-unstyled.clearfix
              li.checkbox-wrap.col-md-6
                input#security.css-checkbox(type="checkbox", name="security", value="true", checked="{{query.security}}")
                label.css-label(for="security")
                  | Doorman
              li.checkbox-wrap.col-md-6
                input#fitnessCenter.css-checkbox(type="checkbox", name="fitnessCenter", value="true", checked="{{query.fitnessCenter}}")
                label.css-label(for="fitnessCenter")
                  | Fitness Center
              li.checkbox-wrap.col-md-6
                input#pets.css-checkbox(type="checkbox", name="pets", value="true", checked="{{query.pets}}")
                label.css-label(for="pets")
                  | Pet Friendly
              //li.checkbox-wrap.col-md-6
              //  input#managedBuildings.css-checkbox(type="checkbox", value="true")
              //  label.css-label(for="managedBuildings")
              //    | Managed buildings
              //li.checkbox-wrap.col-md-6
              //  input#brownstone.css-checkbox(type="checkbox", value="true")
              //  label.css-label(for="brownstone")
              //    | Brownstone
              li.checkbox-wrap.col-md-6
                input#loundry.css-checkbox(type="checkbox", name="laundry", value="true", checked="{{query.laundry}}")
                label.css-label(for="loundry")
                  | Laundry In-unit
              li.checkbox-wrap.col-md-6
                input#parking.css-checkbox(type="checkbox", name="parking", value="true", checked="{{query.parking}}")
                label.css-label(for="parking")
                  | Parking
              li.checkbox-wrap.col-md-6
                input#utilities.css-checkbox(type="checkbox", name="utilities", value="true", checked="{{query.utilities}}")
                label.css-label(for="utilities")
                  | Utilities Included
              //li.checkbox-wrap.col-md-6
              //  input#listings.css-checkbox(type="checkbox", name="listings", value="true", checked="{{query.listings}}")
              //  label.css-label(for="listings")
              //    | Private listings
            label.city-features-date
              | Available from/before
              +datepicker(name="available" value=query.available)
            button.btn.btn-primary.apply-changes-btn(type="submit")
              | Apply Changes
            span.clear-btn.form-building-features-filter-reset
              | Clear Filter

      #location-filter-wrapper.col-sm-1
        .dropdown.city-filter
          button.features-btn.dropdown-toggle.btn.btn-default(type="button", data-toggle="dropdown")
            i.fa.fa-map-marker
            span.hide-sm Location
          form.form-building-filter.filter-section.dropdown-menu.dropdown-menu-right
            h3.filter-title
              | Enter any common destination (work, school, etc) to find nearyby appartments.
            ul.filter-list.list-unstyled.clearfix
              input#address.form-control(type="text", name="address", placeholder="Destination Address", value="{{getDestination}}")
            .row.selectArrivalTime
              .col-sm-6
                .dropdown
                  button.dropdown-toggle.btn.btn-default(type="button", aria-expanded="false")
                    | {{arrivalTime}}
                  ul.dropdown-menu.option(role="menu")       
                    li#10m.selectTime
                      a(href="#")
                       | Less than 10 min
                    li#20m.selectTime
                      a(href="#")
                       | Less than 20 min
                    li#30m.selectTime
                      a(href="#")
                       | Less than 30 min
              .col-sm-6
                .row
                  .col-sm-4.travelMode#walker
                    if condition travelMode 'is' 'walking'
                      img(src="/images/walk-active.png")
                    else
                      img(src="/images/walk.png")
                  .col-sm-4.travelMode#car
                    if condition travelMode 'is' 'driving'
                      img(src="/images/car-active.png")
                    else
                      img(src="/images/car.png")
                  .col-sm-4.travelMode#bike
                    if condition travelMode 'is' 'bicycling'
                      img(src="/images/bike-active.png")
                    else
                      img(src="/images/bike.png")

            .row
              .col-sm-6
                button.btn.btn-primary.apply-changes-btn(type="submit")
                  | Apply
                  span.hide-sm Changes
              .col-sm-6
                span.clear-btn.form-building-address-filter-reset
                  | Clear Filter

      .pull-right.building-title-search-wrapper
        input.building-title-search.form-control(type="text", placeholder="Search buildings", value="{{query.q}}")

      if canOperateWithBuilding
        .filter-wrap.unpublished-property-toggle-wrapper
          label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(title="Show unpublished properties")
            input.mdl-switch__input(id="show-unpublished-properties-toggle" type="checkbox")

template(name="neighborhoodSuggestion")
  span(class="#{id}") #{value}