.city-sub-header
  background-color #ebebeb
  padding 10px 20px
  @media screen and (min-width: 768px)
    padding 15px 25px
    .dropdown.open > .dropdown-menu
      left auto
      right 0
      .form-control
        height 42px
  @media screen and (min-width: 992px)
    padding 18px 25px
  @media screen and (min-width: 1200px)
    padding 18px 30px
  box-sizing border-box
  .dropdown
    float left
  .btn
    height 42px

.city-sub-header-list-wrap
  .button-text
    display inline-block
    text-transform uppercase
  &.col-sm-2,
    padding 0 15px 10px
    @media screen and (min-width: 1200px)
      padding 0 6px
  &.bedroom-type-select
    @media screen and (min-width: 1200px)
      padding 0 6px
  &.city-select
    .button-text
      width 142px
  &.bedroom-type-select
    min-width 124px
    .city-sub-header-list
      padding 0 8%
  .city-sub-header-title
    width 100%
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 14px
    color #272b30
    font-weight normal
    text-align left
    padding 5px 15px

  .city-sub-header-list
    box-sizing border-box
    min-width 100px
    padding 0 20px
    box-shadow 0 1px 0 rgba(0,0,0,0.3)
    top 30px
    border 1px solid #cfcfcf
    border-top 0
    border-radius 2px 2px 5px 5px
    width 99%
    text-transform uppercase
    padding-top 10px
    .city-sub-header-item
      padding 10px 0
      font-family 'Montserrat', Helvetica, sans-serif
      font-size 14px
      color #272b30
      cursor pointer
      &:hover
        color #4588fa
        
.neighborhood-select
  i
    font-size 14px
    position absolute
    top 14px
    z-index 999
    &.fa-map-signs
      left 12px
    &.fa-times
      color #CCC
      display none
      right 20px
  a.clear-neighborhood-filter + span
    width 100%
  .city-sub-header-list
    width auto
  .typeahead
    padding-left 29px
    padding-right 12px
    height 42px
  .tt-hint
    color #999
  
  .tt-menu
    width 280px
    margin 12px 0
    padding 8px 0
    background-color #fff
    border 1px solid #ccc
    border 1px solid rgba(0, 0, 0, 0.2)
    border-radius 8px
    box-shadow 0 5px 10px rgba(0,0,0,.2)

  .tt-suggestion
    padding 3px 20px
    font-size 14px
    line-height 20px
    &:hover
      cursor pointer
      color #fff
      background-color #0097cf
    .all
      font-style italic

  .tt-suggestion.tt-cursor
    color #fff
    background-color #0097cf

  .tt-suggestion p
    margin 0

.city-subheader-price
  display inline-block
  font-size 0
  float left
  padding 3px 12px 2px 2px
  vertical-align top
  width 24.5%
  position relative
  @media screen and (max-width: 768px)
    height 55px
    width 47%
    padding-top 10px
  b
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 13px
    color #272b30
    position absolute
    bottom 6px
    @media screen and (min-width: 768px)
      bottom -18px
      font-size 13.5px
  .city-subheader-price-val
    display none
    font-size 13px
    font-weight bold
    text-transform uppercase
    vertical-align middle
    margin-right 10px
    @media screen and (min-width: 768px)
      display inline-block
    + b
      @media screen and (min-width: 768px)
        left 35px
  .price-slider + b
    right 5px
    @media screen and (min-width: 768px)
      right 15px

  .slider.slider-horizontal
    margin 0
    left 7%
    width 90%
    @media screen and (min-width: 768px)
      width 70%
    .slider-track
      height 6px
      .slider-handle
        background-color #4588fa
        width 15px
        height 15px
        opacity 1
      .slider-selection
        box-shadow none
        background #8f9092

@media screen and (min-width: 768px)
  #features-container
    padding-left 0
  #location-filter-wrapper
    padding-left 10px

.dropdown
  .features-btn
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 14px
    color #272b30

.open
  & > .dropdown-toggle
    &.btn-default
      background #fff
      border-color #ccc
      color #272b30

  .features-section, .location-list
    width 290px
    box-sizing border-box
    padding 10px 
    box-shadow 0 1px 0 rgba(0, 0, 0, 0.3)
    top 38px
    border 1px solid #cfcfcf
    border-top 0
    border-radius 0 3px 3px 3px
    @media screen and (min-width: 768px)
      padding 20px 
      width 410px
    .filter-title
      font-size 14px
      padding 0 0 10px
      margin 0
      line-height 20px
    .filter-list
      padding 5px 0
      @media screen and (min-width: 768px)
        padding 15px 0
      .css-checkbox
        position absolute
        z-index -1000
        left -1000px
        overflow hidden
        clip rect(0 0 0 0)
        height 1px
        width 1px
        margin -1px
        padding 0
        border 0
        & + label
          &.css-label
            padding-left 30px
            height 25px
            display inline-block
            line-height 25px
            background-repeat no-repeat
            background-position 0 0
            font-size 16px
            vertical-align middle
            cursor pointer
        &:checked
          & + label
            &.css-label
              background-position 0 -25px
      label
        &.css-label
          background-image url(/images/checkbox.png)
          -webkit-touch-callout none
          -webkit-user-select none
          -khtml-user-select none
          -moz-user-select none
          -ms-user-select none
          user-select none

    .city-features-date
      font-size 12px
      display block
      margin 0 0 20px
      .form-control
        width 80%
        height 42px

    .clear-btn
      padding 0 25px
      cursor pointer
  .filter-section
    width 290px
    box-sizing border-box
    padding 12px
    box-shadow 0 1px 0 rgba(0, 0, 0, 0.3)
    top 38px
    border 1px solid #cfcfcf
    border-top 0
    border-radius 0 3px 3px 3px
    left -50px
    @media screen and (min-width: 768px)
      left 0
      padding 22px 
      width 340px
    .filter-title
      font-size 14px
      padding 0 0 10px
      margin 0
      line-height 20px    
  .location-list
    width 380px
    .filter-field
      margin 10px 0 25px
      .form-control
        display inline-block
        height 34px
        width 270px
        padding 6px 12px
        font-size 12px
        background-color #fff
        background-image none
        border 1px solid #ccc
        border-radius 4px
        box-shadow inset 0 1px 1px rgba(0,0,0,.075)
        transition border-color ease-in-out .15s,box-shadow ease-in-out .15s

    .filter-select
      width 160px
      height 34px
      font-size 12px
      padding 6px 12px
      background-color #fff
      background-image none
      border 1px solid #ccc
      border-radius 4px
      box-shadow inset 0 1px 1px rgba(0,0,0,.075)
      transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
      text-align left

    .filter-arrive-item
      font-size 12px
      padding 6px 12px
      cursor pointer

    .city-motion-list
      padding 5px 0
      .city-motion-item
        float left
        background-repeat no-repeat
        background-position center center
        padding 0 18px
        cursor pointer
      .city-motion-walk
        width 8px
        height 20px
        display inline-block
        background-image url(/images/walk.png)
        &:hover
          background-image url(/images/walk-active.png)
      .city-motion-car
        width 18px
        height 20px
        display inline-block
        background-image url(/images/car.png)
        &:hover
          background-image url(/images/car-active.png)
      .city-motion-bike
        width 20px
        height 20px
        display inline-block
        background-image url(/images/bike.png)
        &:hover
          background-image url(/images/bike-active.png)

    .button-wrap
      padding  20px 0 0
      clear both
  
.travelMode
  @media screen and (max-width: 768px)
    top 8px
  img
    cursor pointer

.filter-wrap
  display inline-block
  font-size 0
  vertical-align top
  float left

.building-title-search-wrapper
  @media screen and (min-width: 768px)
    max-width 14.2%
    padding 0 0 0 5px
  input
    font-size 14px
    color #272b30
    font-weight bold
    height 42px
    padding-left 32px
  i
    position absolute
    top 14px
    left 25px
    font-size 90%
    opacity 0.6
    @media screen and (min-width: 768px)
      left 13px


.selectArrivalTime 
  padding-bottom 10px
  
.form-building-address-filter-reset 
  cursor pointer
  @media screen and (max-width: 768px)
    position relative
    top 10px
    left 25px
    
body.admin-logged-in
  .building-title-search-wrapper
    display block
  .building-title-search
    width 200px
  .unpublished-property-toggle-wrapper
    margin-left 10px
    label
      margin-top 5px
    span
      font-size 13px
      &.mdl-switch__label
       left 15px 
    .mdl-switch.is-checked .mdl-switch__track
      background rgba(0,0,0, 0.26)
    .mdl-switch.is-checked .mdl-switch__thumb
      background-color #149bdf

@media screen and (max-width: 768px)
  .hide-sm
    display none

@media screen and (max-width: 992px)
  .hide-md
    display none
