.city-sub-header
  background-color #ebebeb
  border-bottom 1px solid #bbb
  box-shadow 0 3px 10px -2px rgba(0,0,0,.3)
  height 0
  overflow hidden
  padding 0 20px
  box-sizing border-box
  transition all .45s ease-out
  z-index 101
  @media screen and (min-width: 992px)
    padding 0 25px

  .dropdown
    @media screen and (min-width: 768px)
      margin 0 -8px
    &.open > .dropdown-menu
      @media screen and (min-width: 768px)
        left auto
        right 0
        &.location-filter-section
          height 260px
        .form-control
          height 42px
    .dropdown-menu
      z-index 1003
  .btn
    height 42px

  &.is-down
    height 280px
    padding 15px 20px
    overflow visible
    @media screen and (min-width: 768px)
      height 85px
      padding 12px 25px
    @media screen and (min-width: 992px)
      height 90px
      box-shadow 0 3px 10px -2px rgba(0,0,0,.3)
      padding 13px 25px
    @media screen and (min-width: 1200px)
      padding 14px 30px


.toggle-city-header
  &.icon
    position absolute
    right 3px
    top 75px
    transition all .4s ease
    z-index 102
    @media screen and (min-width: 820px)
      right 6px
    @media screen and (min-width: 900px)
      right 7px

    .btn
      height auto
      font-size 25px
      padding 0
      .fa
        margin 0

  &#done-btn
    margin 10px auto
    @media screen and (min-width: 768px)
      display none
    .btn
      height initial
      font-size 16px
      width 100%

.is-down ~ .toggle-city-header.icon
  @media screen and (max-width: 767px)
    display none
  @media screen and (min-width: 768px)
    top 96px !important
  @media screen and (min-width: 900px)
    right 10px

.city-sub-header-list-wrap
  margin-top 10px

  .button-text
    display inline-block
    text-transform uppercase

  &.col-sm-2
    padding 0 15px 10px
    @media screen and (min-width: 1200px)
      padding 0 6px

  &.bedroom-type-select
    margin 10px auto
    min-width 122px
    @media screen and (min-width: 1200px)
      padding 0 10px

    .city-sub-header-list
      padding 0 9%

  &.city-select
    .button-text
      width 142px

  .city-sub-header-title
    width 100%
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 14px
    color #272b30
    font-weight normal
    text-align left
    padding 5px 15px

  .city-sub-header-list
    box-sizing border-box
    min-width 100px
    padding 0 20px
    top 30px
    border 1px solid #cfcfcf
    border-top 0
    border-radius 2px 2px 5px 5px
    width 99%
    text-transform uppercase
    padding-top 10px
    .city-sub-header-item
      padding 10px 0
      font-family 'Montserrat', Helvetica, sans-serif
      font-size 14px
      color #272b30
      cursor pointer
      &:hover
        color #4588fa


.city-subheader-price
  display inline-block
  font-size 0
  float left
  padding 5px 12px 2px 2px
  vertical-align top
  position relative
  margin 10px auto
  @media screen and (max-width: 768px)
    height 56px
  @media screen and (min-width: 768px)
    padding 2px 15px 2px
    width 31%
  @media screen and (min-width: 992px)
    width 23%
  @media screen and (min-width: 1040px)
    width 24%
  b
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 13px
    color #272b30
    position absolute
    bottom 6px
    @media screen and (min-width: 768px)
      bottom -18px
      font-size 13.5px

  .city-subheader-price-val
    display none
    font-size 13px
    font-weight bold
    text-transform uppercase
    vertical-align middle
    margin-right 10px
    @media screen and (min-width: 768px)
      display inline-block
    + b
      left 15px
      @media screen and (min-width: 768px)
        left 60px

  .price-slider + b
    right 20px
    @media screen and (min-width: 768px)
      right 15px

  .slider.slider-horizontal
    margin 0
    left 6%
    width 90%
    @media screen and (min-width: 400px)
      left 4.5%
      width 92.5%
    @media screen and (min-width: 768px)
      width 70%

    .slider-track
      height 8px

      .slider-handle
        background #4588fa
        opacity 1
        top -1px

      .slider-selection
        box-shadow none
        background #8f9092


  #location-filter-wrapper
    padding-left 10px

#features-container,
#location-filter-wrapper
  margin 10px auto
  @media screen and (min-width: 768px)
    padding 0 15px
  > .dropdown
    @media screen and (min-width: 992px)
      padding 0 2px


.dropdown
  .dropdown-toggle
    width 100%
    float none

  .neighborhoods-section
    .filter-title
      @media screen and (min-width: 992px)
        padding-bottom 10px !important
      i
        font-size 130%
        position relative
        top 1px

    #clear-neighborhoods
      color #888
      display inline-block
      font-size 14.5px
      font-weight 300
      padding 2px 0
      @media screen and (min-width: 992px)
        padding 2px 10px 0 0

  .features-btn
    font-family 'Montserrat', Helvetica, sans-serif
    font-size 14px
    color #272b30

  .btn.dropdown-toggle.city-sub-header-title
    .caret
      position absolute
      top 19px
      right 18%

.open
  .dropdown-menu
    border-top 1px solid #DCDCDC
  & > .dropdown-toggle
    &.btn-default
      background #fff
      border-color #ccc
      color #272b30

  .features-section, .location-filter-section, .neighborhoods-section
    width 290px
    padding 10px 
    top 38px
    border 1px solid #cfcfcf
    border-top 0
    @media screen and (min-width: 768px)
      padding 20px 
      width 410px

    .filter-title
      font-size 15px
      font-weight bold
      letter-spacing .25px
      line-height 1.35
      padding 0 0 5px
      margin 0
      text-transform capitalize

    .filter-list
      margin 0 -15px
      padding 5px 0
      @media screen and (min-width: 768px)
        padding 0

    .city-features-date
      font-size 13px
      display block
      margin 0 0 20px
      .input-group
        margin-top 5px

    .clear-btn
      padding-top 8px
      cursor pointer

  .features-section
    left auto
    right 0

  .neighborhoods-section
    padding-bottom 10px
    ul
      padding-bottom 0
    li
      padding-bottom 5px

  .location-filter-section
    padding 10px 15px 15px
    @media screen and (min-width: 768px)
      left 0
      padding 22px
      width 340px

  /*.location-list
    .filter-field
      margin 10px 0 25px
      .form-control
        display inline-block
        height 34px
        width 270px
        padding 6px 12px
        font-size 12px
        background-color #fff
        background-image none
        border 1px solid #ccc
        border-radius 4px
        box-shadow inset 0 1px 1px rgba(0,0,0,.075)
        transition border-color ease-in-out .15s,box-shadow ease-in-out .15s

    .filter-select
      width 160px
      height 34px
      font-size 12px
      padding 6px 12px
      background-color #fff
      background-image none
      border 1px solid #ccc
      border-radius 4px
      box-shadow inset 0 1px 1px rgba(0,0,0,.075)
      transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
      text-align left

    .button-wrap
      padding  20px 0 0
      clear both
  */
  
.travelMode
  top 5px
  img
    cursor pointer

.filter-wrap
  display inline-block
  font-size 0
  vertical-align top
  float left

.building-title-search-wrapper
  margin 10px auto
  @media screen and (min-width: 768px)
    padding 0 0 0 5px
  @media screen and (min-width: 992px)
    max-width 13%
    padding 0 10px 0 5px
  @media screen and (min-width: 1200px)
    max-width 15%
  input
    font-size 14px
    color #272b30
    font-weight bold
    height 42px
    padding-left 32px
  i
    position absolute
    top 14px
    left 25px
    font-size 90%
    opacity 0.6
    @media screen and (min-width: 768px)
      left 13px


.selectArrivalTime 
  padding-bottom 10px
  @media screen and (min-width: 768px)
    padding-bottom 15px
  
.form-building-address-filter-reset 
  cursor pointer
  @media screen and (max-width: 768px)
    position relative
    top 10px
    left 25px

@media screen and (max-width: 991px)
  .hide-md
    display none
