.reviews
  margin-bottom 0
  position relative
  li
    background-color #FFF
    margin-bottom 10px
    @media screen and (min-width: 768px)
      height 200px
    @media screen and (min-width: 992px)
      margin-bottom 20px

.average-rating
  font-size 15.5px
  margin-bottom 10px

  .reviewsCount,.avgRating
    font-weight bold
