.review
  border 1px solid #CCC
  border-radius 3px
  margin-bottom 10px
  padding 15px
  position relative
  
  .building
    width 165px

  .total-rating
    position absolute
    right 10px
    top 18px
    i
      color #D2AE04
      float left
      font-size 25px
    span
      display inline-block
      margin-left 8px
      font-size 18px
      margin-top -2px
  
  .author
    color #222
    display block
    font-size 85%
    font-weight bold
  .posted-date
    font-size 70%

  h3
    color #000
    font-size 14px
    font-weight bold
    margin-bottom 0px
    margin-top 15px

  .review-item-rating
    color #333
    font-weight bold
    font-size 85%
    margin-bottom 20px
    .item-label
      float left
    .item-score
      float right
    .bar
      clear both
      background-color #F3F3F3
      height 5px
      margin-top 18px
      .bar-rating
        background-color #D2AE04
        height 5px
        
  .review-breakdown
    display none
    
  .review-body-full
    display none
  
  .admin-actions
    border-top 1px solid #CCC
    margin-top 10px
    padding-top 10px