.review
  border 1px solid #CCC
  border-radius 3px
  height 195px
  margin-bottom 10px
  padding 15px
  position relative
  @media screen and (min-width: 768px)
    margin-bottom 15px
    border none
    border-top 1px solid #eee
    box-shadow 0 4px 12px -3px rgba(0,0,0,.34)
  
  .building
    width 165px

  .total-rating
    line-height 20px
    i
      color rgb(240,230,10)
      font-size 18px
      margin-right 5px
      text-shadow 0 0 0 rgba(0,0,0,.5)
    span
      display inline-block
      font-size 17px
      margin-top -1px
  
  .author-date-box
    position absolute
    top 0px
    right 0px
    border-radius 3px
    border 1px solid rgba(208,210,212,.65)
    font-size 11.5px
    line-height 1
    padding 4px 10px
    right 10px
    @media screen and (min-width: 768px)
      padding 4px 15px

    .author
      color #444
      display inline-block

      .displayPersona
        display block
        font-size 90%
        font-weight normal
        line-height 1.3
        text-transform capitalize
      
    .posted-date
      color #888
      display inline-block
      margin-left 5px
      font-weight 300

  h3
    color #000
    font-family "Montserrat", "Raleway", "Open Sans", Arial, Helvetica, sans-serif
    font-size 14.5px
    font-weight bold
    line-height 1.3
    margin-bottom 5px
    margin-top 0
    @media screen and (min-width: 768px)
      font-size 15.5px
      line-height 1.4

  p
    line-height 1.5
    margin-top 5px

  .review-item-rating
    color #333
    font-weight bold
    font-size 86%
    margin-bottom 15px

    .item-label
      float left

    .item-score
      float right

    .bar
      clear both
      background-color #F3F3F3
      height 5px
      margin-top 18px
      .bar-rating
        background-color #D2AE04
        height 5px
        
  .review-breakdown
    display none
    
  .review-body-full
    display none
  
  .admin-actions
    border-bottom 1px solid #DDD
    margin-bottom 10px
    padding-bottom 10px