template(name="adminRentalApplications")
  #manage-rental-applications-wrapper.container
    .row
      .col-lg-8
        h1 Manage Rental Applications
      .col-lg-4
        .header-actions.pull-right
          a.btn.btn-info(href="{{pathFor 'newRentalApplication'}}")
            i.fa.fa-plus
            | Add New Application

      .col-lg-12.m-t-15
        if rentalApplications.count
          table.table.table-bordered
            thead
              tr
                th Created At
                th Applicant Name
                th Unit
                th Last Updated
                th Status
                th Actions
            tbody
              each rentalApplications
                tr
                  td {{getReadableLongDateTimeAlt createdAt}}
                  td #{applicationFullName}
                  td #{applicationApartmentName}
                  td {{getReadableLongDateTimeAlt updatedAt}}
                  td #{status}
                  td
                    a(href="{{pathFor 'rentalApplication' id=_id}}")
                      i.fa.fa-eye
                    button.btn.btn-link.delete-application(type="button")
                      i.fa.fa-trash
        else
          h3 No rental applications found.