template(name="idxDisclaimer")
  .idx-disclaimer
      p The data relating to real estate for rent on this website appears in part through the TREND Internet Data Exchange program, a voluntary cooperative exchange of property listing data between licensed real estate brokerage firms in which Rent Scene participates, and is provided by TREND through a licensing agreement.
      p The information provided by this website is for the personal, non-commercial use of consumers and may not be used for any purpose other than to identify prospective properties consumers may be interested in purchasing.
      p Some real estate firms do not participate in IDX and their listings do not appear on this website. Some properties listed with participating firms do not appear on this website at the request of the seller.
      p Real estate listings held by brokerage firms other than Rent Scene are marked with the IDX icon and detailed information about each listing includes the name of the listing broker.
      p Information Deemed Reliable But Not Guaranteed.
      p Data from the Zillow, Google Map, and Walk Score modules, is not provided by TREND, and should be considered informative, but not accurate.
      p &copy; 2016 TREND, All Rights Reserved