#quick-view-recommend-popup .twitter-typeahead
  width 100%

#quick-view-table.table-hover > tbody > tr.warning.hovered > td
  background-color #faf2cc

#quick-view-table.table-hover > tbody > tr.info.hovered > td
  background-color #c4e3f3
