#quick-view-recommend-popup .twitter-typeahead
  width 100%

#quick-view-table
  margin 15px 0
  width 100%

  &.table-hover > tbody > tr.warning.hovered > td
    background-color #faf2cc

  &.table-hover > tbody > tr.info.hovered > td
    background-color #c4e3f3

  tfoot tr > th
    text-align center