template(name="clientSearchBar")
  form.navbar-form.navbar-right(role="search")
    .form-group.hide-sm
      if canRecommend
        a#exit-recommendation-from-bar(href="#")
          i.fa.fa-times
      input.form-control.typeahead(type="text", placeholder="Search Client", autocomplete="false", data-source="clientsSearch", data-selected="selectedClient")