template(name="clientSearchBar")
  form.navbar-form.navbar-right.hide-sm(role="search")
    .form-group
      if canRecommend
        a#exit-recommendation-from-bar(href="#")
          i.fa.fa-times
      input.form-control.typeahead(type="text", placeholder="Search Client", autocomplete="false", data-source="clientsSearch", data-select="selectedClient")