header
  .navbar-form
    margin-top 0
    margin-right 0
    position relative
    #exit-recommendation-from-bar
      color #CCC
      position absolute
      right 25px
      top 6px
      z-index 999
      &:hover
        color #999
    input.form-control
      border-radius 15px
      width 220px

  .tt-hint
    color #999
  
  .tt-menu
    width 280px
    margin 12px 0
    padding 8px 0
    background-color #fff
    border 1px solid #ccc
    border 1px solid rgba(0, 0, 0, 0.2)
    border-radius 8px
    box-shadow 0 5px 10px rgba(0,0,0,.2)

  .tt-suggestion
    padding 3px 20px
    font-size 14px
    line-height 20px
    &:hover
      cursor pointer
      color #fff
      background-color #0097cf

  .tt-suggestion.tt-cursor
    color #fff
    background-color #0097cf

  .tt-suggestion p
    margin 0