template(name="clientSearchBar")
  form(role="search", class="{{formClass}}")
    .form-group
      if canRecommend
        if showExitRecommendationIcon
          a#exit-recommendation-from-bar(href="#")
            i.fa.fa-times
      input.form-control.typeahead(type="text", placeholder="Search client", autocomplete="false", data-source="clientsSearch", data-select="selectedClient")