template(name="clientSearchBar")
  form.navbar-form.navbar-right(role="search")
    .form-group
      input.form-control.typeahead(type="text", placeholder="Search client", autocomplete="false", data-source="clientsSearch", data-selected="selectedClient")