header
  background #272b30
  height 70px
  width 100%
  position fixed
  top 0
  left 0
  z-index 1000

  .home-page &
    background rgba(39, 43, 48, .1)
    transition .35s all ease-in-out
	
  .header-wrap
    width 100%
    padding 20px 10px
    @media screen and (min-width: 768px)
      padding 20px 15px
    @media screen and (min-width: 992px)
      padding 20px 25px
    @media screen and (min-width: 1200px)
      padding 20px 30px
    box-sizing border-box

    .logo-wrap
      width 135px
      height 30px
      display inline-block
      padding 0
      margin 0

      a.hide-text
        display block
        font-size 0
        line-height 0
        color transparent
        text-shadow none

        .logo
          width 30px
          height 30px
        .logo-text
          width 105px
          height 30px
          position relative
          left 5px
          @media screen and (min-width: 1200px)
            left 8px

    .navigation
      float right
      margin 0
      padding 0
      list-style none
      @media screen and (max-width: 500px)
        position absolute
        top 22px
        right 0
        .fa-paper-plane
          display

      .navigation-item
        display inline-block
        line-height 30px

        &.live-chat
          display none

          .home-page &
            display inline-block

        .navigation-item-link
          font-family 'Montserrat', Helvetica, sans-serif
          font-size 14px
          color #fff
          padding 10px
          @media screen and (max-width: 500px)
            padding 8px
            .fa-paper-plane
              margin 0
              font-size 80%
              position relative
              top -1px
              right 1px
          text-decoration none
          transition .16s color ease

          &.active, &:hover
            color #ffcc33
            text-decoration none

          .fa
            margin-right 2px
            @media screen and (min-width: 768px)
              margin-right 6px

.home-page
  header.navbar-dark
    background rgba(39,43,48,.95)