template(name="header")
  +contactUs
  header
    .header-wrap
      h1.logo-wrap
        a.hide-text(href="/")
          | Rent Scene
          img.logo.animated.spin-wrapper(src="/images/logo-icon-white.png", alt="Rentscene Icon")
          img.logo-text(src="/images/logo-text-white.png", alt="Rentscene")

      ul.navigation
        li.navigation-item.hidden
          a.navigation-item-link(href="/")
            i.fa.fa-search
            | Search apartments
        li.navigation-item
          a.navigation-item-link.contact-us(href="/")
            i.fa.fa-paper-plane
            | Contact Us
        li.navigation-item.live-chat.hidden
          a.navigation-item-link.active(href="/")
            i.fa.fa-headphones
            | Live Chat
        //-  should be at the end of the page
        li.navigation-item.admin-login
          if loggedInUser
            +userMenu
          else
            +loginButtons

      if canManageClients
        +clientSearchBar(formClass="navbar-form navbar-right")

    if canRecommend
        #recommending-client-banner.alert.alert-success
          | Currently recommending properties for {{recommendationsClientName}}.
          a#view-recommendations(href="#")
            | View list
          | or 
          a#exit-recommendation(href="#")
            | Done recommending