template(name="header")
  +contactUs
  header
    .header-wrap
      h1.logo-wrap
        a.hide-text(href="/")
          | Rent Scene
          img.logo.animated.spin-wrapper(src="/images/logo-icon-white.png", alt="Rentscene Icon")
          img.logo-text(src="/images/logo-text-white.png", alt="Rentscene")

      ul.navigation
        li.navigation-item.hidden
          a.navigation-item-link(href="/city/philadelphia")
            i.fa.fa-search
            | Browse Apartments

        li.navigation-item.hide-sm
          a.navigation-item-link.contact-us(href="/")
            i.fa.fa-paper-plane
            | Get Started

        li.navigation-item
          a.navigation-item-link.active(href="tel://1-267-463-2428")
            i.fa.fa-mobile
            | (267) 463-2428

        li.navigation-item.admin-login
          if loggedInUser
            +userMenu
          else
            +loginButtons

      if canManageClients
        +clientSearchBar

    if canRecommend
        #recommending-client-banner.alert.alert-success
          | Currently recommending properties for {{recommendationsClientName}}.
          a#view-recommendations(href="#")
            | View List
          | or 
          a#exit-recommendation(href="#")
            | Done Recommending