template(name="header")
  +contactUs
  header
    .header-wrap
      h1.logo-wrap
        a.hide-text(href="/")
          | Rentscene
          img.logo(src="/images/logo.png", alt="Rentscene")
      ul.navigation
        li.navigation-item
          a.navigation-item-link(href="/")
            i.fa.fa-search
            | Search apartments
        li.navigation-item
          a.navigation-item-link.contact-us(href="/")
            i.fa.fa-paper-plane
            | Contact us
        li.navigation-item.live-chat
          a.navigation-item-link.active(href="/")
            i.fa.fa-headphones
            | Live Chat
