template(name="header")
  +contactUs

  header

    .header-wrap
      h1.logo-wrap
        a.hide-text(href="/")
          | Rent Scene
          img.logo.animated.spin-wrapper(src="/images/logo-icon-white.png", alt="Rentscene Icon")
          img.logo-text(src="/images/logo-text-white.png", alt="Rentscene")

      ul.navigation
        li.navigation-item.hide-sm
          a.navigation-item-link(href="/city/philadelphia")
            i.fa.fa-search
            | Browse Apartments

        li.navigation-item.hide-sm
          a.navigation-item-link.contact-us(href="/")
            span Get Started

        unless loggedInUser
          li.navigation-item
            a.navigation-item-link.active(href="tel://1-215-995-5890")
              i.fa.fa-mobile
              | (215) 995-5890

        if loggedInUser
          li.navigation-item.admin-login
            +userMenu

      if canManageClients
        +clientSearchBar(formClass="navbar-form navbar-right")

        if isDesktop
          +copyUrlBtn

    if canRecommend
        #recommending-client-banner.alert.alert-success
          | Currently recommending properties for <strong>{{recommendationsClientName}}</strong>.

          if makingRecommendationList
            a#view-recommendations.btn.btn-sm.(href="#")
              i.fa.fa-list-ul
              | View List So Far
          else
            a#add-listings.btn.btn-sm.btn-success(href="#")
              i.fa.fa-plus-circle
              | Add More Listings

          | or
          a#exit-recommendation.btn.btn-sm.btn-danger(href="#")
            i.fa.fa-check-circle
            | Done Recommending
